svg(version='1.0' xmlns='http://www.w3.org/2000/svg' width='204.000000pt' height='273.000000pt' viewbox='0 0 2048.000000 2732.000000' preserveaspectratio='xMidYMid meet')
      g(transform='translate(0.000000,2732.000000) scale(0.100000,-0.100000)' fill='#000000' stroke='none')
        path(d='M0 13660 l0 -13660 3080 0 c2058 0 3080 3 3080 10 0 24 -80 340 -98\
        387 -11 29 -36 74 -55 100 -19 26 -57 86 -85 133 -68 114 -149 207 -263 299\
        -118 97 -214 209 -234 274 -15 51 -13 81 12 161 12 38 13 53 4 74 -7 14 -15\
        53 -18 87 l-6 62 33 12 c18 6 34 11 36 11 2 0 8 -19 14 -41 l12 -42 31 39 c30\
        38 87 95 258 259 49 46 97 103 114 135 27 49 30 64 30 140 0 68 -5 93 -22 126\
        -37 70 -46 73 -117 36 -33 -18 -95 -64 -136 -103 -41 -39 -95 -80 -120 -92\
        -48 -22 -140 -29 -194 -14 -46 13 -153 123 -224 231 -65 98 -65 99 -74 195\
        -11 114 -20 130 -153 271 -50 52 -99 106 -110 120 -11 14 -40 41 -65 60 -184\
        140 -203 175 -203 360 0 132 13 189 74 322 69 151 66 232 -11 309 -63 63 -86\
        64 -134 5 -91 -111 -155 -155 -256 -175 -30 -6 -80 -18 -110 -26 -33 -9 -97\
        -15 -165 -15 -160 0 -264 -28 -327 -88 -25 -23 -28 -33 -28 -86 0 -102 30\
        -151 144 -236 53 -39 104 -82 112 -96 19 -28 15 -69 -16 -174 -11 -36 -22 -84\
        -26 -107 l-6 -42 53 14 c30 8 78 15 106 15 92 0 113 -46 72 -155 -43 -115\
        -166 -200 -351 -241 -180 -41 -238 -74 -272 -154 -21 -51 -28 -143 -19 -237\
        12 -116 0 -215 -42 -355 -20 -67 -38 -141 -39 -166 -1 -44 -1 -45 52 -72 l52\
        -28 39 45 c22 24 54 79 71 121 101 247 146 297 279 309 71 7 89 -7 139 -106\
        20 -41 42 -74 47 -74 19 0 55 79 96 208 23 72 52 149 65 171 31 55 98 98 176\
        114 54 12 75 11 156 -2 117 -20 177 -54 210 -118 29 -57 28 -102 -4 -280 -19\
        -106 -25 -167 -22 -228 4 -80 6 -85 36 -109 34 -26 160 -199 180 -246 18 -41\
        15 -120 -7 -177 -10 -27 -46 -94 -80 -148 -154 -249 -220 -459 -221 -694 0\
        -71 4 -128 9 -128 5 0 11 -7 15 -15 9 -24 -49 -48 -101 -42 -78 9 -96 38 -129\
        212 -39 212 16 404 196 685 86 133 102 172 103 240 1 67 -37 150 -77 168 -52\
        23 -87 111 -107 268 -8 69 -8 108 1 165 26 167 29 195 20 234 -11 50 -45 80\
        -112 100 -41 12 -53 12 -60 3 -4 -7 -28 -74 -53 -148 -59 -176 -98 -246 -159\
        -287 -124 -85 -279 -82 -347 6 l-25 32 -30 -73 c-80 -200 -218 -320 -368 -321\
        -52 -1 -76 6 -144 38 -45 21 -90 47 -99 57 -25 28 -21 88 15 206 17 53 36 117\
        43 142 9 29 13 114 13 245 1 198 1 200 29 257 66 134 243 229 511 273 57 9\
        130 86 144 151 6 27 9 50 8 52 -2 1 -34 -5 -72 -14 -73 -17 -144 -14 -169 6\
        -22 19 -19 55 20 186 19 65 35 129 35 141 0 16 -18 37 -62 70 -163 123 -192\
        171 -192 318 -1 94 19 144 69 175 53 33 243 88 325 95 64 5 190 24 267 40 12\
        3 67 48 123 100 134 125 170 140 335 140 111 0 124 -2 175 -27 73 -36 146\
        -100 172 -152 28 -54 28 -150 0 -226 -11 -30 -31 -87 -45 -125 -67 -182 -59\
        -405 17 -470 12 -11 52 -44 87 -74 52 -44 120 -123 207 -242 20 -26 41 -115\
        47 -198 3 -41 8 -86 12 -100 20 -86 224 -331 276 -331 14 0 40 18 67 46 111\
        114 261 195 374 202 62 3 75 1 105 -20 19 -12 46 -45 60 -73 22 -42 26 -63 26\
        -140 0 -130 -28 -180 -200 -350 -229 -226 -268 -273 -293 -349 -28 -84 -29\
        -173 -3 -224 26 -50 145 -163 264 -252 114 -84 221 -202 294 -322 28 -46 66\
        -109 86 -141 19 -31 42 -88 51 -125 18 -75 36 -228 36 -314 l0 -58 7070 0\
        7070 0 0 4548 0 4547 -24 -58 c-13 -31 -37 -74 -52 -95 -48 -62 -576 -586\
        -625 -619 -90 -62 -156 -77 -329 -78 -154 0 -155 0 -220 32 -36 17 -95 52\
        -132 77 l-67 45 -11 -37 c-43 -149 -62 -397 -40 -513 13 -67 54 -156 108 -233\
        23 -32 55 -95 72 -140 17 -44 42 -111 56 -148 14 -38 32 -68 39 -68 8 0 58 48\
        111 108 306 334 404 400 588 390 182 -10 306 -116 306 -264 0 -133 -65 -284\
        -201 -469 -95 -128 -113 -165 -130 -259 -16 -94 -6 -184 41 -376 50 -203 52\
        -259 9 -323 -88 -134 -281 -200 -444 -152 -82 23 -171 114 -241 245 -60 112\
        -87 135 -177 145 -92 11 -237 49 -296 80 -77 38 -221 181 -261 258 -61 117\
        -102 140 -197 112 -120 -35 -230 -111 -423 -291 -231 -215 -317 -272 -448\
        -294 -115 -19 -240 13 -329 86 -84 69 -135 228 -113 354 32 183 30 190 -70\
        190 -82 0 -177 28 -226 65 -55 42 -64 74 -64 237 0 403 111 868 327 1370 61\
        144 72 188 51 206 -8 6 -68 21 -133 32 -121 21 -211 54 -254 93 -76 70 -69\
        182 30 515 53 180 79 300 79 366 0 53 -24 137 -48 166 l-18 22 -42 -21 c-23\
        -12 -81 -54 -129 -95 -111 -93 -462 -448 -618 -625 -215 -243 -724 -678 -895\
        -766 -25 -13 -101 -42 -169 -65 -153 -52 -245 -61 -371 -35 -163 33 -237 76\
        -307 176 -99 143 -98 226 8 508 l24 63 -30 25 c-16 13 -74 42 -128 63 -185 75\
        -282 127 -346 186 -90 83 -156 171 -200 266 -55 121 -66 128 -211 128 -261 0\
        -340 67 -446 379 -57 169 -152 317 -313 483 -91 95 -96 98 -195 137 -136 53\
        -399 192 -527 279 -120 82 -206 163 -334 317 -112 134 -123 144 -136 124 -16\
        -26 -10 -46 37 -115 94 -139 201 -249 439 -454 61 -52 148 -129 195 -170 47\
        -42 132 -111 190 -154 60 -45 179 -153 276 -250 178 -179 255 -280 330 -430\
        31 -64 35 -80 27 -100 -36 -78 -241 -74 -427 8 -77 34 -150 84 -248 170 -46\
        39 -126 105 -178 146 -119 93 -416 345 -494 419 -60 58 -383 404 -447 479 -20\
        23 -39 42 -42 42 -13 0 -46 -113 -67 -230 -12 -69 -35 -192 -51 -275 -16 -82\
        -47 -258 -69 -390 -47 -284 -66 -360 -125 -480 -51 -106 -133 -201 -246 -285\
        -152 -113 -262 -164 -508 -234 -89 -26 -189 -57 -224 -70 -108 -40 -261 -76\
        -363 -84 -55 -5 -279 -8 -499 -7 l-400 1 -78 27 c-158 55 -213 111 -252 257\
        -28 101 -51 141 -78 135 -457 -100 -472 -102 -598 -51 -128 52 -193 133 -193\
        241 0 145 126 260 344 315 123 30 241 70 271 91 32 22 76 104 128 238 38 97\
        102 305 116 379 l7 32 -189 0 c-260 0 -364 20 -393 75 -20 38 5 364 38 485 43\
        161 43 167 -20 229 -29 29 -116 95 -193 147 -77 52 -170 118 -207 147 -60 47\
        -402 241 -470 266 -23 9 -29 7 -38 -9 -31 -59 3 -158 110 -316 96 -141 120\
        -198 120 -289 0 -196 -125 -278 -711 -465 -279 -89 -377 -115 -559 -146 -290\
        -51 -525 -42 -732 27 -141 46 -214 105 -265 214 -23 49 -28 74 -28 135 0 70 3\
        81 48 167 58 111 143 206 266 298 168 127 318 189 568 236 149 27 211 47 233\
        74 15 18 39 156 40 227 l0 58 -63 -24 c-148 -56 -393 -106 -515 -106 -88 0\
        -173 25 -207 60 -25 26 -28 38 -37 152 -5 67 -10 197 -11 288 -2 158 -1 166\
        21 198 31 42 62 57 168 82 48 12 94 26 101 32 7 6 13 26 13 45 l0 34 -60 -41\
        c-75 -51 -128 -70 -194 -70 -71 0 -121 16 -161 51 -41 36 -48 58 -75 218 -25\
        155 -90 394 -128 475 -16 33 -47 84 -69 111 -32 40 -51 54 -94 68 -92 29 -228\
        116 -271 172 -54 72 -95 162 -103 225 -12 106 8 179 104 380 49 102 92 198 96\
        213 8 40 -14 193 -38 257 -14 37 -41 76 -86 125 -37 38 -103 115 -148 170 -44\
        55 -134 159 -198 230 -65 72 -145 164 -178 205 -123 153 -225 240 -282 240\
        -43 0 -232 -120 -378 -239 -158 -129 -244 -188 -364 -249 -197 -99 -288 -122\
        -488 -123 -108 -1 -141 3 -195 21 -98 33 -174 84 -288 193 -75 73 -107 97\
        -120 92 -35 -13 -125 -72 -176 -115 -30 -25 -94 -79 -143 -120 -91 -77 -410\
        -287 -493 -323 -110 -49 -257 -62 -361 -31 -83 24 -150 98 -183 201 -35 113\
        -51 235 -34 271 15 32 49 40 71 17 9 -9 26 -48 38 -88 49 -168 125 -313 174\
        -335 42 -19 115 -14 170 12 110 51 400 254 530 371 210 189 275 226 407 233\
        118 6 164 -16 291 -136 156 -150 233 -188 350 -177 182 18 354 106 607 311\
        164 132 306 229 406 276 64 30 77 33 169 33 197 0 298 -57 474 -269 65 -78\
        166 -195 226 -261 59 -66 142 -163 183 -215 42 -52 105 -126 140 -163 75 -80\
        107 -144 123 -247 21 -138 12 -181 -80 -363 -92 -182 -111 -240 -111 -344 0\
        -83 18 -140 73 -225 29 -46 51 -65 114 -102 43 -25 103 -54 133 -63 88 -28\
        187 -145 231 -271 43 -122 90 -312 105 -422 8 -63 20 -132 25 -153 l10 -38 47\
        34 c114 83 219 117 302 97 71 -17 100 -54 100 -126 0 -102 -40 -137 -193 -170\
        -91 -20 -106 -35 -110 -110 -3 -66 13 -474 19 -496 12 -40 197 -11 433 67 137\
        46 177 55 235 55 82 0 131 -23 142 -66 11 -44 -3 -226 -23 -284 -33 -98 -116\
        -140 -367 -186 -210 -38 -326 -89 -488 -214 -93 -72 -169 -165 -221 -269 -53\
        -106 -56 -164 -13 -259 50 -109 122 -153 303 -188 144 -27 391 -4 635 61 199\
        52 614 196 733 254 102 50 126 66 150 102 27 38 30 50 30 123 0 97 -13 127\
        -115 272 -93 130 -122 192 -127 274 -8 118 42 161 192 168 131 6 187 -12 423\
        -135 151 -80 236 -132 337 -207 74 -56 168 -123 211 -150 95 -60 196 -154 219\
        -203 17 -36 17 -40 -13 -172 -22 -97 -34 -185 -42 -305 -6 -93 -8 -172 -4\
        -175 3 -3 112 -6 242 -6 259 0 293 -6 327 -59 16 -24 16 -31 0 -103 -27 -121\
        -108 -361 -159 -467 -26 -54 -63 -113 -84 -134 -58 -58 -106 -77 -392 -156\
        -159 -44 -249 -184 -196 -309 15 -38 66 -84 102 -93 15 -4 103 11 212 35 245\
        54 284 58 357 37 32 -10 70 -27 86 -38 35 -26 72 -100 99 -196 25 -86 61 -131\
        127 -160 45 -19 69 -20 438 -20 279 0 410 4 462 14 39 7 156 40 260 73 103 32\
        240 75 303 95 126 39 234 95 347 182 183 140 250 289 313 694 16 107 50 296\
        75 420 24 124 52 268 61 320 26 152 102 297 166 319 41 14 126 14 169 -1 49\
        -16 75 -39 154 -133 110 -130 418 -457 503 -533 171 -154 293 -258 407 -347\
        66 -51 167 -134 225 -184 89 -77 260 -186 260 -166 0 13 -46 95 -98 175 -73\
        114 -346 387 -502 503 -63 47 -167 132 -231 189 -63 57 -167 149 -230 204\
        -247 220 -429 440 -429 519 0 66 87 132 197 150 53 8 155 -17 205 -51 20 -14\
        85 -82 143 -150 143 -165 228 -244 354 -326 110 -71 406 -226 476 -248 91 -29\
        141 -63 239 -164 100 -102 227 -270 273 -360 14 -27 43 -101 65 -165 46 -135\
        88 -217 129 -257 30 -29 32 -29 158 -31 99 -1 140 -6 185 -22 91 -32 117 -58\
        180 -179 43 -82 77 -131 133 -192 72 -77 84 -85 207 -144 72 -35 159 -73 194\
        -86 125 -45 182 -110 161 -183 -5 -20 -20 -60 -33 -89 -27 -61 -56 -181 -56\
        -232 0 -77 77 -216 141 -255 17 -10 57 -24 90 -30 56 -11 66 -10 142 15 145\
        47 198 79 392 233 247 195 495 427 670 626 44 50 114 126 157 170 l77 81 -54\
        0 c-90 0 -146 55 -153 152 -3 49 0 67 22 110 18 36 32 52 46 52 24 0 24 -5 5\
        -60 -20 -57 -19 -108 4 -150 22 -41 64 -75 81 -65 44 27 53 185 20 347 -18 87\
        -32 132 -79 252 l-11 28 -40 -35 c-43 -39 -105 -61 -145 -51 -14 3 -47 24 -73\
        45 -25 22 -49 39 -53 39 -11 0 -41 -78 -53 -137 -12 -57 -13 -58 -45 -58 -31\
        0 -35 4 -59 62 l-25 62 -50 -25 -49 -25 39 -20 c128 -63 78 -222 -66 -206 -38\
        4 -52 12 -81 44 l-35 40 -38 -57 c-56 -85 -81 -105 -130 -104 -23 0 -48 2 -55\
        4 -9 3 -21 -16 -36 -57 -13 -34 -39 -88 -57 -120 -30 -49 -40 -58 -67 -61 -33\
        -3 -44 11 -16 22 18 7 73 122 104 217 l21 66 -26 76 c-14 41 -25 86 -25 100 0\
        37 -9 39 -60 11 -26 -14 -56 -24 -66 -22 -37 7 -18 33 46 65 l65 32 7 62 c12\
        105 34 136 87 122 22 -6 41 -50 41 -94 0 -15 5 -31 10 -34 14 -9 134 31 187\
        61 44 25 68 30 78 15 10 -16 -55 -53 -159 -91 l-101 -37 -7 -94 c-4 -52 -9\
        -103 -12 -113 -5 -20 29 -96 42 -96 28 0 162 192 162 231 0 27 15 39 51 39 11\
        0 60 20 108 45 76 40 91 45 114 36 15 -6 30 -17 33 -26 4 -10 15 3 32 38 43\
        84 113 90 198 17 25 -22 49 -40 53 -40 5 0 29 19 55 41 42 37 45 43 30 54 -22\
        15 -12 57 23 103 23 30 29 33 71 30 40 -3 47 -6 50 -26 2 -13 -6 -39 -18 -59\
        -19 -33 -20 -37 -5 -53 41 -45 113 -273 135 -425 11 -75 8 -161 -7 -202 -4\
        -10 50 36 118 102 148 142 269 236 359 279 59 28 74 31 165 31 92 0 104 -2\
        154 -30 166 -92 184 -272 66 -645 -54 -171 -75 -267 -75 -346 0 -110 24 -131\
        175 -154 114 -17 200 -47 234 -81 48 -47 43 -89 -30 -277 -84 -213 -185 -516\
        -209 -622 -51 -227 -81 -432 -91 -614 -17 -291 -11 -306 118 -306 119 0 216\
        -44 243 -111 12 -27 11 -47 -4 -133 -16 -95 -16 -107 -1 -181 9 -43 25 -96 35\
        -116 18 -34 72 -89 89 -89 22 0 140 89 245 186 254 233 321 285 438 338 177\
        83 371 99 507 43 89 -37 122 -65 161 -139 48 -90 66 -113 149 -184 81 -70 142\
        -95 256 -108 73 -9 157 -31 205 -56 55 -28 87 -66 136 -161 43 -83 115 -179\
        135 -179 15 0 89 72 105 101 22 43 18 80 -31 273 -68 267 -70 400 -10 521 14\
        28 66 104 115 170 50 66 106 152 125 190 83 173 83 306 -2 369 -22 16 -28 17\
        -51 5 -15 -7 -119 -106 -232 -220 -216 -219 -278 -267 -374 -295 -110 -31\
        -230 -2 -270 66 -10 18 -45 104 -77 192 -37 100 -73 180 -95 211 -52 72 -102\
        181 -115 252 -17 90 -5 288 26 433 29 138 37 159 78 219 38 54 79 73 156 73\
        80 0 119 -17 190 -85 32 -30 94 -76 137 -101 74 -42 83 -45 135 -41 31 3 71\
        13 89 22 36 18 587 564 632 625 37 50 63 130 84 250 15 93 16 122 5 260 -25\
        322 -58 469 -150 666 -56 119 -169 234 -230 234 -39 0 -124 -62 -175 -128 -24\
        -32 -82 -126 -127 -208 -136 -247 -170 -288 -273 -341 -68 -35 -172 -42 -245\
        -18 -63 21 -106 68 -160 179 -87 179 -93 328 -22 549 33 105 41 142 41 205 0\
        99 -9 131 -81 279 -64 134 -100 177 -190 230 -76 45 -126 53 -439 63 -374 13\
        -503 36 -647 116 -149 83 -167 122 -208 467 -21 176 -54 309 -115 462 -29 72\
        -67 171 -85 220 -18 50 -82 212 -143 360 -171 423 -215 568 -216 720 0 87 4\
        112 32 192 18 51 32 103 32 115 -1 72 -95 187 -197 241 -133 69 -184 85 -463\
        147 -163 35 -260 93 -304 181 -32 64 -33 117 -7 221 36 140 101 251 315 536\
        209 280 302 370 472 455 107 54 174 70 268 65 154 -9 205 -61 206 -209 0 -45\
        -8 -107 -21 -154 -19 -76 -39 -122 -181 -430 -36 -77 -73 -165 -83 -195 -10\
        -30 -20 -60 -22 -65 -2 -6 47 14 109 45 154 76 241 94 330 70 20 -6 47 -19 60\
        -29 23 -19 23 -21 23 -233 0 -192 2 -219 22 -277 24 -70 56 -111 87 -111 11 0\
        40 10 64 21 74 36 122 133 141 281 21 160 -48 457 -194 837 -88 230 -105 303\
        -112 486 -7 196 9 441 53 805 44 368 64 492 116 700 88 356 197 604 326 742\
        124 133 342 238 494 238 127 0 252 -53 300 -128 39 -60 46 -84 83 -269 20 -98\
        47 -211 61 -252 26 -78 69 -160 88 -167 7 -3 50 13 96 34 263 122 554 166 743\
        113 202 -56 434 -217 500 -347 55 -109 61 -151 78 -519 5 -126 14 -282 18\
        -345 21 -278 -35 -496 -159 -620 -66 -66 -136 -98 -237 -107 l-63 -6 0 -51 c0\
        -113 50 -230 164 -386 142 -194 188 -322 156 -436 -7 -25 -47 -96 -88 -158\
        -142 -210 -167 -293 -159 -536 7 -218 48 -356 133 -450 50 -55 107 -80 198\
        -87 66 -5 74 -4 102 20 17 14 42 29 57 32 l27 7 0 5765 0 5764 -35 -27 c-39\
        -30 -92 -98 -124 -161 -75 -150 -132 -377 -226 -903 -48 -270 -105 -400 -230\
        -526 -93 -94 -163 -133 -253 -141 -77 -7 -119 7 -214 74 -42 29 -102 65 -133\
        79 -51 24 -63 25 -138 19 -216 -19 -284 -75 -422 -345 -60 -117 -125 -184\
        -261 -272 -111 -73 -184 -146 -231 -234 -60 -113 -130 -396 -118 -479 21 -141\
        37 -176 135 -300 79 -100 179 -290 205 -390 8 -33 20 -103 26 -155 18 -168 27\
        -209 65 -293 50 -112 54 -156 18 -208 -36 -52 -146 -135 -309 -232 -167 -100\
        -236 -156 -290 -237 -64 -98 -92 -186 -121 -393 -27 -194 -52 -305 -84 -367\
        -83 -164 -362 -189 -460 -42 -49 74 -102 275 -130 492 -19 150 -24 429 -10\
        608 20 248 18 530 -3 615 -25 99 -68 177 -129 232 -47 42 -56 47 -89 42 -48\
        -6 -166 -66 -298 -150 -136 -87 -209 -112 -326 -112 -116 0 -157 18 -255 116\
        -87 87 -194 166 -252 186 -39 13 -43 12 -102 -16 -33 -17 -116 -66 -184 -110\
        -68 -44 -149 -90 -180 -101 -143 -54 -275 -62 -366 -22 -67 30 -84 73 -96 249\
        -10 136 -23 207 -39 217 -16 10 -76 -39 -109 -88 -42 -63 -67 -149 -92 -312\
        -23 -159 -40 -204 -92 -248 -59 -51 -128 -66 -304 -66 -192 0 -250 -10 -354\
        -61 -69 -34 -102 -59 -170 -128 -104 -104 -147 -185 -186 -346 -118 -494 -207\
        -801 -261 -910 -61 -122 -162 -217 -298 -281 -110 -51 -186 -67 -290 -61 -104\
        5 -164 27 -215 78 -50 50 -75 117 -109 284 -49 249 -55 309 -45 520 18 377 11\
        432 -72 598 -58 116 -105 183 -199 287 -42 46 -112 129 -154 185 -178 228\
        -424 470 -550 539 -66 35 -262 73 -446 86 -163 11 -331 40 -443 75 -162 51\
        -428 171 -606 273 -269 154 -384 247 -469 377 -33 50 -93 232 -111 335 -23\
        131 -2 191 81 231 44 22 60 24 181 22 219 -3 413 -24 662 -73 188 -37 409 -56\
        467 -41 99 27 259 188 410 412 195 291 302 377 526 423 288 60 517 -50 517\
        -247 0 -20 -12 -107 -26 -194 -59 -350 -26 -546 103 -612 49 -25 159 0 418 94\
        183 67 362 121 485 147 108 24 250 28 593 20 163 -4 205 8 288 85 106 99 168\
        265 156 416 -8 89 -21 137 -49 172 -19 25 -26 27 -70 22 -74 -9 -155 -53 -416\
        -226 -132 -87 -280 -179 -329 -204 -362 -187 -636 -146 -733 110 -34 89 -68\
        236 -84 362 -8 64 -20 119 -28 126 -9 9 -37 10 -103 4 -154 -12 -243 14 -277\
        81 -23 45 -24 176 -3 291 60 325 213 548 404 589 114 24 255 0 616 -105 174\
        -50 384 -93 495 -102 127 -10 308 48 376 120 81 84 464 605 541 735 65 109\
        129 247 147 317 35 140 66 410 76 670 11 284 34 568 54 664 l13 61 -7369 0\
        -7368 0 0 -13660z m7237 9829 c8 -8 0 -44 -33 -136 -24 -68 -44 -130 -44 -138\
        0 -10 13 -9 63 6 73 23 186 34 206 21 27 -19 2 -39 -95 -72 -55 -18 -123 -44\
        -151 -56 l-53 -23 0 -99 c0 -118 20 -195 56 -218 23 -16 26 -15 65 12 51 35\
        69 61 69 97 0 75 56 222 99 261 25 23 100 27 124 7 10 -7 17 -28 17 -46 0 -19\
        6 -35 14 -38 8 -3 17 -28 21 -59 4 -29 12 -70 17 -91 l11 -37 24 22 c25 24\
        100 139 124 193 13 28 18 30 69 30 l55 0 5 -90 c3 -49 10 -98 16 -109 10 -17\
        14 -15 40 22 30 42 46 51 77 44 15 -4 18 -11 13 -36 -15 -74 -86 -123 -161\
        -111 -25 3 -58 17 -73 30 l-29 24 -29 -31 c-38 -40 -82 -58 -141 -58 -50 0\
        -113 29 -113 52 0 6 -15 -5 -34 -25 -18 -20 -42 -37 -53 -37 -11 0 -30 -11\
        -43 -24 -82 -88 -265 -87 -328 2 -12 16 -26 40 -30 53 -8 21 -12 17 -42 -40\
        -40 -74 -118 -161 -146 -161 -10 0 -26 5 -34 10 -13 8 -11 17 14 62 65 120\
        146 284 146 296 0 8 -17 12 -53 12 -29 0 -61 6 -71 13 -17 13 -16 15 14 40 18\
        15 62 41 99 59 l67 31 21 86 c26 111 69 221 95 244 23 19 98 23 115 6z m712\
        -183 c26 -31 -57 -49 -97 -20 -12 8 -22 19 -22 25 0 15 106 11 119 -5z m665\
        -689 c23 -17 12 -45 -44 -116 -43 -54 -92 -83 -160 -96 -34 -6 -36 -8 -32 -41\
        12 -101 -88 -174 -197 -144 -48 13 -81 56 -81 107 0 40 34 133 61 167 21 27\
        72 36 84 16 3 -5 14 -10 23 -10 9 0 30 -7 46 -15 49 -26 66 -19 140 58 40 41\
        78 77 86 80 26 10 56 7 74 -6z m-763 -87 c12 -7 19 -21 19 -40 0 -29 1 -30 50\
        -30 129 0 185 -82 127 -185 -28 -49 -106 -109 -162 -125 l-42 -12 -7 -76 c-13\
        -135 -23 -169 -57 -181 -35 -12 -84 -5 -101 16 -11 13 0 173 29 412 6 51 5 54\
        -13 47 -42 -17 -140 -19 -170 -3 -40 21 -56 41 -48 61 9 22 49 20 84 -5 42\
        -32 74 -19 153 62 70 71 95 81 138 59z m3356 -1236 c38 -36 38 -37 15 -45 -19\
        -7 -33 -3 -68 22 -43 30 -50 39 -37 52 16 17 55 4 90 -29z m-387 -151 c-2 -27\
        -2 -80 -1 -119 l1 -71 49 48 c47 48 66 55 126 49 28 -2 45 -28 45 -67 0 -52\
        -23 -94 -90 -169 l-62 -68 43 -19 c24 -11 63 -22 86 -24 38 -5 46 -2 72 26 38\
        40 82 151 88 223 3 32 12 63 19 69 18 15 60 7 55 -11 -10 -42 -2 -119 16 -155\
        l21 -39 20 39 c11 22 30 73 43 113 21 66 25 72 50 72 19 0 28 -6 33 -22 5 -21\
        9 -17 36 29 44 77 117 94 150 33 14 -25 13 -124 -2 -171 -15 -52 -70 -115\
        -114 -131 -24 -8 -33 -17 -29 -27 3 -8 9 -71 12 -140 6 -138 0 -156 -49 -149\
        -18 2 -26 13 -36 53 -16 62 -30 255 -20 261 10 7 10 104 1 104 -5 0 -16 -18\
        -26 -39 -28 -61 -90 -79 -131 -38 l-24 24 -11 -38 c-34 -114 -157 -156 -285\
        -98 -23 10 -46 19 -52 19 -6 0 -10 -27 -10 -72 l1 -73 -35 0 c-33 0 -35 2 -42\
        40 -4 22 -7 92 -8 155 -1 63 -5 124 -9 135 -7 19 -8 18 -21 -5 -18 -35 -70\
        -89 -102 -106 -41 -22 -121 -18 -149 7 l-24 20 35 -6 c19 -3 49 -8 66 -11 25\
        -5 38 0 69 28 21 18 54 57 72 86 18 28 37 52 42 52 4 0 11 40 14 89 8 108 19\
        141 48 141 19 0 21 -5 19 -47z m-1067 -345 c9 -57 19 -129 23 -160 4 -32 10\
        -58 13 -58 3 0 21 32 39 70 43 88 108 160 145 160 17 0 27 -5 27 -14 0 -8 -27\
        -67 -61 -131 -70 -136 -73 -161 -18 -188 69 -34 195 -44 303 -25 33 5 28 -19\
        -6 -33 -65 -27 -297 -10 -369 27 -24 12 -27 12 -32 -6 -3 -11 -3 -46 0 -79 5\
        -57 5 -58 -22 -65 -18 -5 -33 -3 -41 6 -7 7 -22 76 -34 153 -12 77 -24 151\
        -27 165 -3 18 -13 -8 -33 -85 -46 -185 -93 -281 -150 -310 -32 -17 -87 -19\
        -110 -5 -10 6 -23 -1 -47 -29 -40 -47 -104 -75 -150 -66 -67 12 -129 96 -148\
        198 -4 20 -11 37 -15 37 -7 0 -56 -101 -86 -180 -9 -25 -22 -51 -27 -57 -13\
        -18 -67 -17 -67 1 0 74 -24 386 -34 445 -13 75 -9 96 19 88 22 -7 49 -135 71\
        -337 l7 -65 24 54 c38 87 68 121 107 121 41 0 47 -8 76 -90 30 -88 53 -130 84\
        -159 l26 -24 26 24 c59 55 69 85 66 199 -3 119 8 153 49 158 14 2 31 -3 37\
        -11 14 -17 18 -91 8 -172 -5 -52 -4 -63 14 -85 l20 -25 28 31 c58 62 123 259\
        162 487 11 66 23 123 26 128 3 5 18 9 33 9 28 0 29 -1 44 -102z m-3577 -245\
        l39 -16 -31 -10 c-33 -10 -104 12 -104 32 0 16 53 13 96 -6z m4689 -68 c0 -23\
        -5 -31 -22 -33 -14 -2 -23 3 -28 17 -3 12 -10 21 -15 21 -5 0 -7 7 -3 16 4 10\
        16 14 37 12 27 -3 31 -7 31 -33z m-2312 -242 c26 -32 52 -73 58 -91 22 -66\
        -15 -145 -81 -172 -17 -7 -29 -15 -26 -17 7 -7 100 44 129 73 16 14 44 50 63\
        80 39 61 54 73 54 44 0 -62 -82 -158 -169 -198 -57 -26 -161 -42 -161 -25 0 5\
        20 19 45 31 84 41 110 131 60 205 -14 20 -29 37 -34 37 -4 0 -20 -42 -35 -92\
        -51 -170 -118 -288 -164 -288 -32 0 -32 11 -1 57 55 79 149 314 149 372 0 23\
        19 41 45 41 14 0 38 -20 68 -57z m2334 -50 c13 -79 45 -163 72 -187 14 -13 23\
        -14 49 -4 36 14 51 5 36 -20 -20 -32 -63 -46 -105 -33 -40 12 -95 69 -105 109\
        -9 32 -16 27 -42 -29 -29 -61 -82 -93 -146 -87 -36 4 -46 0 -83 -33 -95 -87\
        -219 -54 -263 70 l-16 43 -52 -111 c-41 -87 -57 -112 -76 -117 -52 -13 -60 -4\
        -74 81 -7 44 -17 84 -21 88 -18 18 -89 -152 -115 -275 -6 -28 -32 -43 -60 -32\
        -13 5 -16 22 -16 98 0 109 -14 173 -35 156 -7 -6 -35 -45 -62 -86 -30 -46 -57\
        -77 -71 -80 -46 -12 -42 1 41 128 71 109 131 129 172 56 l21 -37 28 55 c31 59\
        65 84 114 84 32 0 55 -20 74 -67 l14 -31 42 83 c35 67 49 85 74 94 45 16 69\
        -4 91 -74 20 -64 48 -109 79 -126 24 -13 51 8 77 61 15 30 16 40 5 70 -17 47\
        -17 84 0 125 16 39 46 58 83 53 43 -5 50 -28 31 -115 -15 -76 -15 -78 5 -101\
        l21 -22 22 21 c31 29 60 93 80 176 21 84 29 95 68 91 30 -3 31 -5 43 -75z\
        m-4639 5 c79 -94 126 -138 148 -138 36 0 29 -18 -10 -25 -50 -10 -70 0 -131\
        62 -47 49 -55 53 -61 37 -20 -60 -49 -106 -75 -119 -40 -21 -105 -19 -138 4\
        l-28 20 -10 -70 c-6 -39 -19 -79 -28 -89 -39 -43 -110 -33 -157 23 -20 23 -28\
        27 -28 15 0 -47 -25 -124 -46 -145 -18 -18 -34 -23 -71 -23 -44 0 -50 3 -99\
        55 l-52 54 -6 -31 c-3 -17 -6 -61 -6 -99 0 -59 -3 -70 -21 -79 -11 -7 -31 -9\
        -44 -6 -19 5 -27 22 -54 123 -18 65 -33 122 -35 128 -1 5 -6 -33 -9 -86 -12\
        -184 -54 -327 -129 -439 -40 -60 -81 -87 -117 -75 -27 8 -26 15 3 73 42 80 39\
        128 -10 177 -20 20 -38 35 -39 33 -2 -2 -15 -55 -29 -118 -14 -63 -36 -151\
        -49 -195 -23 -76 -26 -80 -55 -83 l-31 -3 15 48 c26 85 72 267 79 315 8 56 25\
        72 69 71 73 -2 136 -63 136 -133 l1 -35 14 25 c51 87 91 289 102 503 l6 138\
        26 -3 c24 -3 29 -13 66 -130 36 -114 55 -154 55 -115 0 26 40 57 74 57 30 0\
        40 -8 85 -65 28 -36 56 -65 61 -65 15 0 37 56 55 143 13 62 21 80 38 86 33 12\
        52 3 75 -37 11 -21 32 -47 45 -60 23 -21 25 -22 31 -5 4 10 12 69 18 131 10\
        93 15 115 30 123 27 15 56 2 73 -32 9 -16 29 -45 46 -64 39 -44 48 -38 85 58\
        15 40 34 78 43 85 26 21 61 14 89 -20z m-1926 -996 c10 -4 65 -54 123 -111\
        l106 -104 23 22 c23 22 76 29 76 10 0 -6 -13 -24 -29 -40 -59 -59 -136 -35\
        -251 77 -43 41 -80 72 -82 67 -3 -4 -11 -30 -17 -58 -21 -81 -31 -103 -54\
        -109 -39 -10 -55 -7 -85 19 -17 14 -33 22 -35 17 -3 -4 -1 -44 5 -89 13 -104\
        9 -115 -39 -111 -35 3 -40 7 -62 56 -14 28 -28 52 -31 52 -4 0 -10 -30 -14\
        -67 -13 -144 -50 -203 -127 -203 -44 0 -103 29 -113 57 -10 25 -16 11 -27 -58\
        -16 -101 -26 -127 -57 -134 -18 -4 -36 -21 -54 -50 -36 -60 -79 -85 -145 -85\
        -44 0 -58 5 -88 31 -19 17 -53 60 -74 96 l-38 64 -11 -28 c-21 -52 -32 -112\
        -36 -178 -3 -71 -12 -85 -54 -85 -28 0 -26 -3 -78 195 l-41 159 -6 -164 c-7\
        -180 -26 -279 -72 -370 -48 -95 -144 -180 -204 -180 -41 0 -35 29 16 83 27 29\
        53 65 57 80 8 35 -19 97 -67 152 -40 46 -35 54 -57 -79 -13 -79 -60 -230 -93\
        -296 -16 -34 -28 -46 -48 -48 l-26 -3 39 112 c45 132 62 203 79 324 15 119 37\
        133 113 69 61 -51 114 -124 124 -170 l8 -39 22 55 c12 30 28 85 37 121 21 93\
        38 356 30 466 -6 87 -5 92 15 103 31 17 47 6 59 -37 57 -211 85 -303 91 -303\
        4 0 10 14 14 31 8 42 57 89 93 89 42 0 67 -22 128 -115 78 -119 102 -120 160\
        -12 25 44 30 68 36 159 10 152 32 184 126 187 29 1 36 -6 76 -66 59 -91 71\
        -101 91 -71 21 32 44 128 53 223 l8 80 38 3 c21 2 45 -2 53 -9 11 -9 14 -7 14\
        14 0 16 8 31 19 37 25 13 82 13 115 0 24 -9 25 -7 47 58 24 75 34 90 64 102\
        24 10 35 11 57 2z m678 -302 c26 -48 -45 -166 -115 -191 -40 -15 -40 -15 -20\
        -62 20 -47 20 -159 0 -197 -29 -57 -102 -76 -149 -39 -40 31 -59 77 -59 139 0\
        80 9 100 43 100 28 0 28 0 31 -73 3 -53 10 -82 26 -107 l22 -35 16 37 c34 83\
        9 192 -52 228 -26 15 -34 26 -31 43 4 31 60 37 85 8 26 -31 49 -26 98 24 42\
        44 72 105 61 124 -6 8 7 18 26 20 4 1 12 -8 18 -19z m-449 -361 c55 -28 89\
        -73 89 -120 0 -50 -17 -83 -69 -133 -22 -22 -38 -43 -35 -48 3 -5 -16 -18 -43\
        -30 -26 -11 -49 -21 -50 -22 -1 -1 16 -59 38 -129 46 -150 49 -192 17 -200\
        -12 -3 -28 -2 -37 3 -14 7 -76 197 -132 404 l-11 38 -26 -25 c-61 -58 -145\
        -70 -177 -24 -39 56 6 85 49 31 26 -32 28 -33 50 -18 46 29 79 90 85 157 5 55\
        9 62 29 65 12 2 22 9 22 16 0 7 9 21 19 30 42 38 112 40 182 5z m4815 -291\
        c-21 -193 -19 -263 8 -367 14 -57 42 -135 62 -175 39 -81 101 -150 130 -144\
        10 2 33 23 52 48 35 46 57 61 79 53 16 -6 3 -32 -44 -84 -42 -46 -91 -63 -144\
        -49 -69 19 -151 134 -195 273 -10 31 -21 54 -24 50 -4 -5 -17 -39 -30 -78 -37\
        -115 -68 -155 -122 -155 -15 0 -39 -15 -62 -39 -40 -41 -132 -88 -191 -98 -23\
        -4 -43 0 -60 11 -21 14 -25 24 -25 66 0 27 8 84 17 126 18 82 14 94 -34 94\
        -24 0 -32 -18 -59 -140 -20 -92 -57 -173 -91 -200 -50 -39 -117 -45 -154 -13\
        -15 12 -20 9 -43 -32 -34 -58 -64 -77 -113 -73 -37 3 -38 4 -41 46 -3 39 5 91\
        25 170 l6 24 -44 -23 c-31 -16 -62 -23 -105 -23 l-62 -1 -6 -60 c-17 -161 -40\
        -219 -93 -241 -48 -20 -88 -10 -121 32 -28 36 -42 43 -42 22 0 -7 -11 -36 -24\
        -64 -19 -41 -31 -54 -59 -63 -58 -20 -84 -2 -104 69 l-17 61 -22 -59 c-49\
        -130 -86 -179 -145 -188 -19 -3 -46 -1 -61 5 -34 13 -85 82 -99 135 l-11 41\
        -32 -81 c-43 -109 -66 -146 -101 -164 -17 -8 -44 -25 -62 -38 -106 -75 -243\
        -99 -313 -55 -30 19 -35 20 -67 6 -55 -22 -119 3 -97 38 8 13 52 11 57 -3 3\
        -10 9 -9 22 4 16 15 16 21 5 48 -30 72 -9 208 40 260 22 24 37 30 68 30 35 0\
        41 -4 52 -30 27 -65 11 -167 -38 -244 l-25 -40 27 -23 c53 -45 116 -40 193 16\
        l40 29 5 85 c3 65 10 97 31 140 31 62 61 87 114 91 32 3 39 9 49 37 7 19 13\
        61 14 94 2 83 18 127 51 136 15 4 31 4 36 0 6 -3 9 -65 9 -141 -1 -144 17\
        -233 64 -309 21 -33 21 -33 42 -15 26 24 67 108 103 209 27 78 46 105 71 105\
        25 0 40 -29 58 -111 22 -100 31 -95 66 36 24 91 42 112 84 101 13 -3 27 -19\
        34 -38 13 -38 63 -118 73 -118 9 0 36 102 50 193 16 107 34 121 119 96 34 -10\
        42 -8 116 30 43 23 90 50 104 60 31 24 80 34 100 21 12 -8 9 -15 -18 -42 -29\
        -31 -49 -80 -66 -163 l-6 -30 17 30 c9 17 24 55 34 85 16 52 19 55 52 58 35 3\
        36 2 42 -35 3 -21 14 -56 24 -78 l18 -40 31 48 c29 47 50 113 73 230 13 69 42\
        107 84 109 51 1 165 -18 177 -30 8 -8 7 -30 -5 -87 -10 -42 -17 -100 -17 -130\
        l0 -54 28 10 c59 20 136 115 165 203 28 82 63 134 97 141 16 4 30 8 30 9 0 2\
        11 48 25 104 14 56 25 123 25 149 1 61 17 135 33 145 7 4 25 8 40 8 29 0 29 0\
        23 -52z m-1491 -140 c-17 -102 -111 -229 -198 -268 -52 -24 -115 -25 -146 -4\
        -21 15 -23 15 -39 -7 -80 -119 -186 -156 -281 -98 -43 26 -61 74 -61 157 0 86\
        15 130 48 143 34 13 66 2 56 -19 -13 -31 -17 -164 -5 -203 16 -52 61 -78 96\
        -55 53 35 130 163 137 229 8 67 30 97 74 97 43 0 50 -16 30 -65 -9 -21 -16\
        -52 -16 -70 0 -36 33 -85 57 -85 8 0 43 28 77 63 58 58 81 95 120 190 11 26\
        21 37 36 37 20 0 21 -4 15 -42z m-1430 -189 c-8 -12 -75 -12 -75 1 0 16 43 29\
        63 18 10 -5 15 -13 12 -19z m410 -51 c14 -13 41 -61 60 -108 42 -102 66 -130\
        95 -112 24 15 40 15 40 1 0 -17 -71 -41 -105 -35 -43 8 -73 42 -120 139 -22\
        44 -46 83 -53 85 -17 5 -51 -74 -64 -151 -14 -76 -23 -89 -62 -85 l-31 3 -21\
        123 c-11 67 -18 125 -15 127 22 23 71 -26 71 -72 0 -10 9 1 20 24 35 77 130\
        108 185 61z m-425 -108 c14 -26 40 -216 40 -292 0 -54 -2 -58 -26 -64 -14 -4\
        -29 -3 -34 2 -18 18 -58 328 -47 359 9 22 54 19 67 -5z m-130 -24 c0 -2 -22\
        -18 -48 -35 -125 -80 -166 -151 -165 -283 1 -82 0 -86 -22 -92 -55 -14 -65 13\
        -65 179 0 125 5 145 36 145 14 0 24 -6 24 -14 0 -9 23 1 66 30 64 43 174 87\
        174 70z m-646 -142 l-6 -25 37 25 c53 36 132 37 164 2 20 -22 23 -33 19 -85\
        -7 -92 -55 -178 -159 -283 l-86 -86 5 -265 c3 -146 2 -277 -2 -291 -5 -22 -12\
        -26 -40 -26 l-33 0 -8 283 c-5 182 -11 284 -18 289 -8 4 -8 10 0 20 6 7 14 50\
        17 96 l7 82 -51 -50 c-53 -52 -112 -77 -157 -65 -28 7 -41 31 -25 47 9 9 16 7\
        30 -5 10 -9 24 -17 31 -17 23 0 71 44 111 101 49 70 68 113 81 187 15 78 24\
        92 60 92 27 0 29 -2 23 -26z m2114 -1116 c8 -8 12 -48 12 -113 0 -56 3 -135 6\
        -176 l6 -74 48 48 c45 44 52 48 91 45 60 -4 70 -25 40 -85 -13 -26 -45 -78\
        -73 -115 -52 -71 -56 -92 -23 -113 16 -10 33 -10 90 2 136 28 245 105 333 233\
        38 56 56 67 81 51 19 -13 -29 -99 -98 -173 -86 -94 -261 -167 -398 -168 l-43\
        0 0 -39 c0 -41 -11 -51 -55 -51 -31 0 -40 18 -54 105 -12 77 -41 311 -41 335\
        0 8 -17 -19 -38 -60 -23 -47 -58 -96 -94 -132 -32 -32 -58 -60 -58 -63 0 -3\
        20 -25 45 -48 56 -54 61 -98 17 -145 -43 -46 -91 -51 -172 -18 -11 5 -28 -11\
        -57 -52 -45 -64 -90 -92 -145 -92 -33 0 -111 33 -156 66 l-23 17 8 -79 c4 -43\
        8 -97 8 -119 l0 -40 -40 0 c-38 0 -41 2 -53 40 -7 22 -18 108 -23 190 -5 83\
        -12 158 -15 168 -6 18 -8 17 -32 -6 -40 -36 -66 -47 -115 -47 -47 0 -74 19\
        -63 45 8 22 43 18 49 -5 7 -28 20 -25 63 12 56 49 84 118 85 208 0 41 4 98 7\
        125 7 48 8 50 42 53 l35 3 2 -108 c1 -59 5 -141 8 -181 l7 -74 46 46 c53 54\
        105 74 154 60 25 -7 34 -16 36 -36 5 -38 -27 -103 -81 -171 l-47 -57 47 -35\
        c27 -19 50 -35 54 -35 13 0 72 72 117 145 50 81 64 92 108 81 18 -5 24 -13 24\
        -34 0 -16 7 -37 15 -48 15 -19 15 -19 35 5 30 35 25 59 -25 108 -25 24 -45 50\
        -45 58 0 8 26 40 58 72 33 33 73 88 94 128 34 66 87 218 103 295 4 19 12 41\
        17 48 13 15 60 16 76 0z m-1140 -835 c5 -10 12 -38 16 -63 4 -25 18 -86 33\
        -135 l25 -91 34 4 c19 2 34 2 34 -1 0 -3 -9 -26 -20 -52 -17 -40 -18 -53 -9\
        -93 6 -26 11 -88 11 -137 1 -146 -46 -224 -139 -232 -63 -5 -112 19 -137 70\
        -17 36 -17 40 -1 83 15 39 55 100 144 220 l23 32 -33 115 -34 116 -25 -23\
        c-14 -13 -40 -27 -59 -31 -19 -4 -59 -27 -91 -51 -62 -49 -113 -63 -158 -45\
        -30 12 -62 57 -62 86 0 55 -85 -71 -96 -142 -7 -48 -31 -69 -69 -59 -28 7 -35\
        31 -35 127 l0 76 -50 -16 c-72 -24 -77 -31 -44 -81 51 -77 40 -223 -19 -265\
        -39 -27 -115 -15 -142 22 -8 11 -17 0 -40 -48 -45 -93 -60 -109 -105 -109 -49\
        0 -80 35 -109 122 -32 96 -34 97 -68 21 -17 -37 -34 -77 -36 -88 -3 -11 -13\
        -46 -22 -78 l-17 -58 -36 3 -37 3 -12 109 c-7 59 -14 113 -16 120 -6 14 -57\
        -97 -86 -184 -12 -36 -27 -98 -33 -138 l-12 -73 -30 3 c-24 2 -30 7 -28 23 1\
        11 5 90 8 175 7 159 0 255 -17 244 -5 -3 -37 -52 -70 -110 -46 -77 -66 -104\
        -81 -104 -18 0 -20 4 -14 32 7 35 105 206 129 226 8 7 28 15 44 18 47 9 70\
        -20 78 -100 l7 -66 28 58 c15 33 35 62 45 65 50 20 88 -3 100 -58 4 -16 9 -36\
        11 -44 2 -7 20 19 40 58 42 85 70 108 117 95 32 -10 53 -48 103 -186 9 -27 21\
        -48 26 -48 11 0 97 182 122 257 17 51 40 69 73 56 11 -5 13 -18 8 -69 -8 -66\
        -1 -114 14 -114 5 0 17 23 26 51 23 67 16 128 -20 175 -38 50 -29 77 32 100\
        27 9 68 25 92 35 57 25 98 24 113 0 12 -19 13 -19 45 9 38 34 87 46 125 31 20\
        -8 32 -24 49 -71 14 -40 25 -57 33 -52 79 59 96 76 87 85 -19 19 -12 79 12\
        114 38 56 114 78 139 39 4 -6 8 1 8 16 0 14 6 29 13 31 26 11 57 6 65 -10z\
        m2220 -596 c3 -12 -4 -17 -22 -17 -27 0 -37 24 -13 33 19 8 32 2 35 -16z\
        m-478 -11 c5 -13 12 -52 16 -85 3 -34 9 -61 12 -61 3 0 20 11 38 25 34 26 89\
        35 82 13 -3 -7 -33 -35 -69 -62 -75 -57 -85 -84 -56 -161 31 -82 115 -239 151\
        -281 29 -33 36 -37 49 -25 9 7 19 21 22 32 4 12 16 19 31 19 26 0 29 -7 15\
        -43 -26 -67 -96 -78 -156 -25 -40 34 -99 116 -135 188 l-23 45 -12 -45 c-16\
        -60 -48 -131 -69 -153 -10 -9 -31 -17 -48 -17 l-31 0 21 23 c32 34 60 105 81\
        206 15 73 16 94 6 108 -11 15 -16 14 -59 -11 -46 -27 -96 -30 -96 -7 0 5 29\
        28 65 50 l65 41 0 100 c0 128 8 150 55 150 28 0 37 -5 45 -24z m-2351 -93 c-7\
        -10 -15 -20 -16 -22 -2 -2 -3 5 -3 17 0 14 6 22 16 22 14 0 15 -3 3 -17z\
        m2895 -66 c3 -18 22 -65 41 -105 33 -69 36 -72 70 -72 30 0 35 -3 35 -22 0\
        -32 -11 -45 -40 -53 -59 -14 -158 108 -168 205 -6 62 1 80 32 80 19 0 25 -6\
        30 -33z m-240 -13 c21 -8 20 -65 0 -119 -8 -22 -18 -47 -20 -56 -8 -23 58 -89\
        88 -89 37 0 76 36 88 81 9 33 15 40 33 37 19 -3 21 -8 19 -38 -2 -19 -10 -46\
        -19 -58 -41 -66 -201 -70 -252 -8 -8 10 -29 16 -53 16 l-40 0 23 19 c19 15 22\
        26 20 72 -5 105 46 169 113 143z m-604 -358 c0 -7 -16 -45 -35 -83 -38 -77\
        -67 -97 -126 -91 -30 3 -34 0 -41 -30 -9 -34 -43 -56 -78 -50 -9 2 -33 -14\
        -52 -35 -27 -28 -43 -37 -69 -37 -43 0 -89 28 -125 76 -28 36 -29 37 -35 13\
        -4 -13 -7 -52 -8 -87 -1 -56 -4 -64 -25 -73 -44 -20 -73 -4 -101 55 -14 30\
        -32 59 -40 66 -13 11 -15 4 -15 -51 0 -84 -8 -108 -35 -115 -39 -10 -57 10\
        -86 92 -22 60 -26 80 -16 86 21 13 37 6 55 -27 10 -18 11 -17 12 13 0 18 8 40\
        20 52 24 24 78 26 106 5 27 -20 44 -18 44 6 0 32 53 79 90 79 58 0 97 -25 139\
        -90 l39 -60 23 32 c17 24 24 48 26 95 1 34 9 76 18 93 14 27 20 30 64 30 62 0\
        81 -7 81 -30 0 -10 8 -28 19 -41 l18 -23 30 42 c17 23 36 55 43 72 9 21 19 30\
        36 30 14 0 24 -6 24 -14z m-1134 -414 c13 -8 154 -180 154 -187 0 -3 -15 -5\
        -34 -5 -29 0 -43 9 -89 60 l-55 59 -21 -69 c-13 -43 -30 -75 -43 -85 -28 -19\
        -78 -19 -104 -1 -18 13 -20 12 -29 -22 -17 -60 -88 -64 -133 -8 -24 31 -32 33\
        -32 6 0 -54 -38 -86 -87 -74 -48 12 -51 149 -5 228 41 70 120 72 134 3 9 -42\
        57 -142 64 -134 3 3 13 45 23 93 18 88 19 89 49 92 35 4 46 -10 57 -75 4 -24\
        11 -45 15 -48 8 -5 34 57 55 125 4 14 12 31 17 38 11 13 47 16 64 4z m-672\
        -134 c34 -178 67 -294 78 -274 8 14 58 24 58 11 0 -3 -11 -22 -24 -43 -25 -37\
        -25 -38 -10 -107 21 -95 15 -229 -12 -276 -60 -104 -194 -74 -194 44 0 48 34\
        143 80 220 l39 67 -30 102 c-16 57 -29 104 -29 106 0 2 -12 -10 -26 -27 -21\
        -25 -33 -31 -65 -31 -52 0 -82 30 -103 101 -23 76 -21 89 12 89 25 0 28 -5 40\
        -52 14 -59 38 -101 55 -95 18 6 45 57 58 112 6 28 13 56 15 63 2 6 15 12 28\
        12 19 0 27 -6 30 -22z m4641 -581 c17 -13 17 -16 -3 -83 -12 -37 -19 -70 -17\
        -72 1 -2 33 9 70 23 68 28 115 28 115 0 0 -17 -22 -30 -115 -66 l-70 -27 1\
        -93 c0 -92 18 -194 34 -204 15 -9 90 78 118 137 29 60 53 75 99 57 21 -8 23\
        -15 23 -79 0 -38 4 -70 8 -70 5 0 28 36 52 81 62 114 60 112 116 112 30 0 56\
        6 67 15 10 9 36 15 64 15 56 0 83 -26 83 -83 l0 -37 75 5 c86 5 129 -12 123\
        -51 -2 -17 -11 -23 -40 -25 -29 -2 -38 1 -38 12 0 25 -16 27 -65 6 -70 -30\
        -121 -27 -155 10 l-28 30 -18 -51 c-22 -60 -42 -73 -100 -65 -37 5 -44 2 -58\
        -19 -40 -61 -140 -72 -182 -20 -19 24 -22 25 -35 9 -20 -25 -88 -54 -127 -54\
        -50 0 -91 26 -112 72 l-18 40 -31 -45 c-60 -88 -148 -147 -220 -147 -43 0 -90\
        28 -108 64 -9 20 -21 36 -25 36 -5 0 -16 -16 -23 -35 -8 -19 -24 -39 -34 -45\
        -24 -13 -91 -13 -111 0 -11 7 -23 1 -47 -22 -26 -25 -43 -32 -87 -36 -29 -2\
        -62 0 -72 6 -15 8 -23 7 -38 -6 -11 -11 -37 -18 -72 -19 -29 0 -76 -9 -105\
        -18 -81 -27 -170 -2 -213 61 l-23 34 -34 -63 -34 -62 -52 -3 c-44 -3 -53 0\
        -67 20 -9 12 -16 35 -16 50 0 48 -18 40 -39 -17 -12 -31 -21 -60 -21 -64 0\
        -24 -81 -28 -100 -6 -10 12 -10 36 -1 111 6 53 14 101 17 106 4 6 25 8 48 6\
        22 -2 52 2 66 9 41 21 79 16 110 -15 l28 -28 34 38 c32 36 38 38 92 38 31 0\
        66 -4 76 -10 10 -5 28 -35 40 -66 36 -98 36 -98 71 -74 16 12 29 29 29 38 0\
        32 48 120 75 138 21 14 39 16 96 10 100 -9 109 -16 109 -79 l1 -52 20 25 c12\
        14 34 51 50 82 16 32 38 62 48 68 29 15 77 12 95 -6 15 -14 17 -14 22 1 9 23\
        57 45 97 45 56 0 83 -30 97 -105 13 -71 23 -84 47 -63 42 34 155 259 139 275\
        -3 3 -29 -4 -57 -16 -59 -24 -97 -27 -123 -8 -18 13 -17 15 8 35 15 11 67 35\
        115 52 l88 32 7 56 c9 72 39 140 68 152 34 13 72 12 93 -3z m305 -177 c0 -14\
        -36 -21 -64 -14 -51 12 -21 34 37 26 15 -3 27 -8 27 -12z m-2553 -71 c12 -12\
        -8 -63 -47 -119 -13 -19 -100 -248 -100 -264 0 -1 16 0 35 2 44 5 89 -13 110\
        -44 21 -32 45 -129 45 -182 0 -38 2 -43 18 -37 31 12 112 18 112 8 0 -18 -76\
        -46 -141 -50 -88 -7 -113 13 -135 112 -25 107 -22 104 -56 65 -17 -19 -49 -67\
        -73 -105 -39 -65 -45 -70 -80 -73 -21 -2 -42 1 -47 6 -5 5 14 78 50 185 l59\
        176 -31 -16 c-17 -9 -60 -18 -96 -20 -80 -5 -130 19 -130 64 0 33 26 63 55 63\
        17 0 24 -9 31 -37 12 -49 38 -53 98 -18 75 44 121 95 151 165 14 36 38 80 51\
        98 21 27 31 32 68 32 23 0 47 -5 53 -11z m5723 -243 c0 -62 -35 -238 -65 -326\
        -29 -85 -30 -113 -10 -208 19 -91 34 -122 58 -122 16 0 17 -3 7 -15 -7 -8 -25\
        -15 -41 -15 -35 0 -61 37 -80 111 l-13 48 -56 -61 c-51 -56 -59 -61 -99 -62\
        -27 -1 -46 4 -48 11 -7 19 27 29 38 12 13 -19 87 63 122 134 22 45 25 65 25\
        152 0 109 21 218 57 300 27 62 49 85 81 85 22 0 24 -4 24 -44z m-5339 -151\
        c20 -3 46 -16 59 -30 42 -45 15 -140 -52 -179 -33 -20 -110 -21 -148 -1 -73\
        38 -56 182 25 215 19 8 38 8 116 -5z m6067 -191 c15 -4 33 -26 52 -63 34 -67\
        65 -99 107 -107 27 -5 36 -1 74 40 65 69 99 57 40 -15 -81 -98 -237 -62 -286\
        68 l-18 46 -39 -42 c-22 -23 -52 -44 -68 -48 -25 -5 -30 -2 -36 21 -8 32 1 44\
        23 30 13 -8 23 -3 47 24 39 45 65 56 104 46z m-258 -59 c27 -24 25 -47 -6 -85\
        -48 -57 -124 -78 -158 -44 -17 17 -22 99 -7 122 21 34 136 39 171 7z m-258\
        -14 c27 -24 33 -36 33 -70 0 -74 -83 -125 -135 -83 -30 24 -31 77 -1 127 16\
        27 17 35 6 35 -7 0 -17 5 -20 10 -4 6 12 10 39 10 36 0 52 -6 78 -29z m-1739\
        -157 c3 -53 8 -98 11 -101 2 -3 22 9 43 25 92 73 177 93 207 50 30 -43 -4\
        -107 -84 -158 l-51 -33 57 -34 c113 -68 175 -95 189 -83 8 6 23 10 35 8 19 -3\
        20 -5 6 -23 -23 -31 -105 -26 -189 13 -80 37 -187 100 -187 111 0 4 22 17 49\
        30 62 28 111 81 111 121 0 36 -11 37 -53 8 -67 -45 -127 -111 -127 -139 0 -15\
        5 -29 12 -31 8 -3 11 -24 9 -64 -2 -32 -4 -86 -5 -119 -1 -60 -1 -60 -32 -63\
        -21 -2 -33 2 -37 12 -13 32 -39 365 -35 449 2 74 6 91 22 103 37 27 43 18 49\
        -82z m1008 9 c30 -70 38 -77 59 -50 9 12 20 32 24 45 5 14 15 22 29 22 30 0\
        56 -18 41 -27 -6 -5 -14 -18 -18 -30 -21 -68 -125 -97 -171 -47 l-24 26 -15\
        -30 c-38 -74 -130 -108 -170 -63 -23 26 -45 87 -46 129 0 25 4 32 19 32 13 0\
        24 -16 40 -59 24 -67 44 -89 64 -72 8 6 31 47 51 91 35 73 40 80 67 80 26 0\
        32 -6 50 -47z m-461 -51 c0 -10 17 -29 37 -43 21 -13 40 -35 43 -49 20 -77\
        -71 -148 -136 -105 -24 15 -25 21 -22 86 2 38 -1 69 -5 69 -18 0 -47 -22 -42\
        -31 4 -5 -5 -9 -19 -9 -19 0 -26 5 -26 18 0 19 37 42 68 42 9 0 31 9 47 20 37\
        25 55 25 55 2z m421 -252 c11 -6 19 -21 19 -36 0 -30 -39 -110 -74 -152 -22\
        -25 -26 -40 -25 -88 0 -33 4 -68 8 -78 6 -15 11 -10 29 32 37 85 84 102 156\
        57 48 -29 62 -23 106 40 39 56 52 63 138 71 78 7 74 11 87 -73 4 -22 12 -49\
        18 -58 11 -14 15 -13 41 14 15 16 42 51 60 77 27 43 36 49 66 49 34 0 35 -2\
        49 -52 8 -29 18 -53 22 -53 13 0 49 42 77 90 14 25 32 53 40 63 19 21 68 23\
        76 2 3 -9 9 -76 12 -150 4 -74 9 -135 11 -135 18 0 162 113 206 161 30 32 62\
        59 71 59 22 0 20 -9 -14 -63 -27 -43 -89 -94 -233 -194 -30 -21 -48 -42 -52\
        -60 -27 -125 -84 -240 -130 -261 -37 -17 -91 -15 -110 5 -13 13 -16 30 -13 73\
        5 70 27 103 111 165 71 54 75 66 76 204 l1 85 -32 -31 c-45 -42 -70 -53 -117\
        -53 -35 0 -44 5 -59 29 l-18 30 -28 -35 c-56 -71 -135 -95 -176 -54 -11 11\
        -20 25 -20 32 0 7 -13 -9 -29 -34 -30 -48 -73 -78 -110 -78 -24 0 -55 43 -49\
        68 4 15 -3 17 -51 17 -31 0 -65 3 -76 8 -18 6 -25 -1 -48 -48 -19 -40 -36 -60\
        -61 -71 -70 -34 -116 10 -116 110 l0 45 -29 -10 c-16 -6 -46 -9 -68 -7 -33 3\
        -38 6 -38 28 0 30 31 39 49 14 13 -17 15 -16 47 2 29 17 36 29 50 86 21 86 46\
        129 89 150 41 21 37 21 61 8z m-3561 -726 c0 -3 -29 -38 -63 -78 -71 -79 -150\
        -182 -186 -239 -17 -28 -25 -61 -31 -130 -10 -108 -21 -143 -52 -158 -18 -8\
        -32 -37 -61 -127 -21 -64 -45 -135 -54 -158 -36 -92 13 -220 80 -207 16 3 27\
        1 27 -5 0 -20 -42 -34 -82 -29 -43 6 -71 26 -98 69 l-17 28 -32 -40 c-40 -50\
        -96 -88 -136 -91 -20 -2 -50 -22 -91 -60 -66 -62 -110 -79 -167 -63 -44 13\
        -66 62 -77 171 -5 48 -10 89 -10 91 0 1 -13 -4 -30 -13 -16 -8 -36 -15 -45\
        -15 -14 0 -15 -8 -10 -54 9 -71 -7 -122 -45 -141 -41 -21 -75 -19 -107 9 -24\
        21 -28 31 -27 78 1 97 60 164 137 154 30 -3 47 1 74 20 20 13 42 24 49 24 8 0\
        14 7 14 15 0 12 -6 14 -27 8 -85 -22 -106 3 -31 37 29 13 54 25 56 26 1 0 12\
        34 23 73 40 145 95 215 164 209 28 -3 30 -6 33 -48 3 -38 -5 -89 -24 -152 -4\
        -12 0 -18 10 -18 9 0 16 5 16 10 0 19 48 34 64 21 24 -20 6 -42 -59 -72 -86\
        -39 -116 -81 -122 -168 -6 -74 10 -208 26 -224 14 -14 123 102 115 123 -3 8\
        -8 39 -11 67 -12 115 59 198 142 167 41 -16 33 -107 -16 -191 -41 -73 25 -13\
        98 87 35 48 41 64 47 126 8 87 26 155 56 214 12 25 26 68 31 95 4 28 27 87 50\
        133 l42 83 -7 92 c-4 51 -10 95 -15 99 -4 5 -24 -10 -45 -32 -46 -49 -90 -73\
        -121 -68 -17 4 -26 -3 -41 -30 -26 -48 -60 -72 -104 -72 -45 0 -68 23 -77 74\
        l-6 36 -33 -77 c-42 -98 -69 -123 -133 -123 -62 0 -79 18 -83 89 l-3 53 -26\
        -24 c-20 -18 -27 -38 -33 -82 -10 -87 -29 -124 -72 -142 -22 -9 -50 -13 -69\
        -10 -24 5 -36 1 -49 -13 -28 -31 -114 -63 -175 -64 -68 -2 -117 17 -135 52\
        -14 25 -14 25 -21 -24 -16 -115 -38 -155 -79 -139 -24 9 -20 129 9 317 14 87\
        25 163 25 168 0 5 -24 -8 -52 -30 -61 -46 -96 -61 -142 -61 -38 0 -63 17 -68\
        45 -4 28 29 31 51 4 16 -21 21 -21 49 -10 60 25 175 159 218 252 11 25 26 42\
        41 45 39 10 47 -8 30 -63 -18 -56 -33 -134 -43 -218 l-6 -60 28 26 c41 38 67\
        49 111 49 71 0 82 -40 31 -116 -18 -27 -52 -62 -75 -79 -23 -16 -42 -33 -42\
        -37 -1 -4 15 -23 34 -44 30 -32 39 -36 67 -30 18 4 48 22 67 40 28 28 31 36\
        22 54 -47 88 48 215 135 182 20 -8 24 -16 24 -49 0 -22 -9 -60 -20 -85 -10\
        -25 -15 -48 -10 -51 11 -7 40 86 40 127 0 36 30 65 125 125 110 68 141 59 132\
        -39 -5 -60 -5 -61 9 -33 7 17 21 54 30 83 18 59 35 72 126 92 81 18 90 13 82\
        -55 -4 -30 -4 -55 -1 -55 3 0 21 27 39 60 33 60 55 76 94 68 10 -2 21 -14 24\
        -28 5 -22 9 -19 49 40 47 71 78 94 115 84 29 -7 35 -20 50 -127 l11 -79 67 79\
        c93 110 152 163 183 163 14 0 25 -3 25 -6z m-6894 -236 c-4 -57 -9 -139 -12\
        -183 l-6 -80 23 22 c52 47 164 49 189 3 31 -58 -16 -150 -92 -179 -27 -10 -27\
        -10 -13 -51 29 -82 117 -170 152 -152 22 12 43 5 43 -14 0 -18 -42 -28 -85\
        -21 -78 13 -179 113 -191 189 -8 45 -28 46 -32 2 -8 -88 -11 -94 -47 -94 -23\
        0 -35 5 -37 17 -10 51 29 490 53 596 9 41 14 47 36 47 l25 0 -6 -102z m12290\
        -177 c40 -42 85 -84 101 -93 29 -17 31 -17 53 7 23 24 80 36 80 16 0 -5 -13\
        -23 -29 -40 -56 -60 -153 -35 -253 64 l-56 56 -27 -83 c-32 -97 -48 -118 -87\
        -118 -21 0 -33 8 -45 29 l-17 28 -24 -51 c-48 -104 -91 -137 -161 -121 -21 4\
        -35 17 -49 45 l-19 39 -22 -53 c-29 -71 -54 -96 -95 -96 -52 0 -58 16 -54 135\
        3 102 2 106 -17 101 -11 -3 -32 -6 -48 -6 -36 0 -44 -21 -56 -146 -10 -114\
        -34 -173 -76 -192 -50 -23 -107 -9 -149 37 -25 28 -31 27 -47 -11 -7 -18 -26\
        -47 -42 -65 -24 -28 -36 -33 -71 -33 -50 0 -67 12 -98 67 l-24 42 -31 -67\
        c-59 -126 -117 -172 -214 -172 -64 0 -126 28 -168 76 -17 19 -35 34 -40 34 -5\
        0 -12 -29 -16 -64 -4 -45 -11 -66 -22 -70 -25 -10 -53 3 -57 27 -9 46 -36 273\
        -36 302 0 16 -9 88 -20 159 -11 71 -20 160 -20 197 0 66 1 69 24 69 20 0 24\
        -6 29 -47 4 -27 19 -118 34 -203 l27 -156 27 56 c14 30 45 72 67 93 37 32 49\
        37 91 37 34 0 56 -6 74 -20 76 -60 38 -225 -73 -322 l-51 -45 47 -42 c63 -55\
        85 -60 134 -27 58 38 122 159 153 289 12 48 30 64 65 53 11 -4 23 -27 34 -70\
        21 -78 57 -158 69 -150 21 13 61 98 73 156 12 60 14 63 44 66 24 2 34 -1 38\
        -15 16 -51 50 -115 71 -135 l25 -23 19 23 c24 31 36 77 44 179 8 100 26 128\
        86 138 23 4 66 18 96 32 36 17 62 23 80 18 23 -5 25 -9 19 -43 -3 -20 -9 -57\
        -11 -82 -5 -45 -5 -44 31 33 36 76 37 77 74 77 40 0 50 -11 50 -54 0 -12 7\
        -44 17 -71 l16 -48 20 24 c10 13 37 59 58 101 44 87 69 103 115 73 14 -9 27\
        -15 28 -13 1 2 13 32 27 68 26 68 56 95 94 84 11 -4 52 -41 91 -83z m-11015\
        28 c16 -30 -3 -95 -57 -200 -50 -96 -101 -162 -145 -185 -29 -14 -29 -16 -29\
        -102 0 -109 17 -147 80 -179 l45 -22 -39 -1 c-56 0 -122 35 -153 81 -20 31\
        -26 55 -31 124 l-5 85 -34 17 c-19 9 -40 27 -46 40 -13 29 -23 29 -31 0 -20\
        -80 -93 -102 -149 -45 -28 27 -38 31 -78 29 -58 -3 -79 21 -79 89 0 56 17 83\
        50 78 22 -3 24 -7 22 -53 -3 -73 8 -85 49 -51 17 15 38 25 46 22 8 -4 19 -6\
        24 -6 5 0 9 -9 9 -19 0 -11 5 -32 11 -48 l11 -28 16 32 c24 46 80 85 117 81\
        24 -2 34 -11 48 -40 9 -21 21 -38 25 -38 5 0 14 23 21 52 20 87 79 197 137\
        255 50 50 56 53 103 53 41 0 52 -4 62 -21z m-903 -165 c12 -4 22 -10 22 -16 0\
        -5 9 -21 20 -36 49 -66 31 -153 -36 -171 -78 -22 -134 17 -134 93 0 23 9 55\
        20 74 11 18 19 36 19 40 -1 4 -1 10 0 15 1 8 57 9 89 1z m5041 -233 c20 -13 7\
        -68 -35 -149 -19 -37 -41 -95 -48 -128 l-13 -62 35 15 c42 17 98 10 111 -15 5\
        -9 12 -52 16 -94 4 -43 10 -78 12 -78 3 0 18 8 34 17 39 23 49 8 17 -24 -19\
        -19 -40 -27 -76 -31 -66 -6 -92 17 -93 86 0 26 -4 56 -8 66 -12 32 -65 -44\
        -102 -148 -17 -50 -37 -94 -43 -98 -6 -4 -23 -8 -38 -8 -24 0 -28 4 -28 30 0\
        16 9 53 20 82 19 49 61 210 56 215 -1 1 -22 -5 -48 -15 -60 -21 -121 -9 -126\
        26 -4 26 15 29 57 8 24 -13 31 -13 57 0 53 28 80 62 93 118 30 136 98 220 150\
        187z m-4055 -26 c43 -46 40 -133 -5 -181 -33 -35 -100 -34 -128 2 -31 40 -25\
        121 14 180 22 34 87 34 119 -1z m5354 -28 c3 -23 0 -27 -22 -27 -21 0 -26 5\
        -26 23 0 13 3 27 7 31 15 14 38 0 41 -27z m-4895 8 c49 -7 57 -18 37 -55 -9\
        -16 -6 -18 28 -13 58 8 81 -17 93 -103 15 -100 14 -99 95 -84 38 7 87 19 108\
        27 26 9 43 10 50 3 23 -23 -200 -86 -264 -74 -40 9 -57 35 -65 107 -4 31 -11\
        59 -15 62 -8 5 -51 -40 -68 -70 -9 -18 -62 -29 -80 -17 -10 7 -7 26 11 90 l24\
        81 -29 6 c-15 4 -28 11 -28 16 0 5 -16 9 -35 9 -33 0 -34 -1 -25 -26 19 -49\
        12 -93 -19 -125 -25 -25 -37 -29 -83 -29 -91 0 -120 38 -94 125 26 85 31 87\
        181 81 71 -2 151 -7 178 -11z m5237 -200 c0 -8 -71 -35 -93 -35 -26 0 -15 12\
        26 27 34 12 67 16 67 8z m-322 -91 c28 -19 29 -63 2 -121 -21 -48 -46 -59\
        -113 -50 -70 10 -86 55 -41 121 40 59 108 81 152 50z m-338 -354 c-47 -26 -73\
        -26 -41 0 13 11 35 20 50 20 25 -1 25 -1 -9 -20z m164 -72 c10 -41 7 -78 -8\
        -78 -14 0 -36 49 -36 81 0 28 36 24 44 -3z m2077 -918 c57 -6 142 -20 189 -31\
        136 -31 382 -116 555 -191 199 -87 433 -158 635 -193 313 -54 380 -81 580\
        -237 227 -177 314 -228 639 -377 178 -82 577 -303 684 -379 42 -30 121 -101\
        175 -156 170 -175 275 -322 521 -729 224 -372 282 -495 320 -684 29 -139 27\
        -215 -6 -316 -41 -123 -154 -344 -208 -404 -25 -29 -122 -113 -214 -187 -201\
        -162 -270 -239 -369 -416 -72 -130 -99 -298 -56 -357 11 -15 69 -65 128 -109\
        139 -106 165 -130 188 -182 24 -54 20 -81 -38 -265 -24 -75 -44 -145 -44 -154\
        0 -13 9 -15 58 -10 218 24 299 29 401 25 440 -18 468 -308 41 -431 -47 -14\
        -155 -37 -240 -52 -192 -33 -230 -46 -274 -95 -48 -54 -53 -79 -26 -151 38\
        -100 89 -147 251 -229 201 -102 249 -152 249 -256 0 -94 -66 -301 -147 -457\
        -83 -160 -186 -236 -388 -288 -78 -20 -114 -23 -270 -23 -200 0 -249 10 -439\
        90 -106 44 -160 84 -202 146 -52 78 -123 259 -165 426 -63 250 -85 285 -237\
        386 -163 107 -229 196 -252 341 -8 47 -9 175 -4 400 6 308 5 338 -15 450 -40\
        230 -78 323 -152 372 -24 16 -84 37 -161 55 -66 15 -139 38 -160 50 -43 25\
        -107 106 -186 239 -52 87 -133 173 -190 203 -18 9 -114 44 -214 77 -100 33\
        -190 64 -199 70 -24 12 -45 -18 -60 -87 -16 -72 -3 -100 74 -157 34 -25 94\
        -73 132 -107 39 -34 122 -98 185 -143 63 -45 158 -122 210 -172 52 -50 138\
        -125 190 -167 147 -116 317 -275 345 -321 74 -127 44 -295 -77 -431 -86 -97\
        -219 -139 -359 -116 l-72 12 -21 -28 c-37 -53 -108 -116 -155 -137 -62 -28\
        -153 -28 -209 0 -37 18 -42 18 -47 4 -4 -9 -27 -74 -51 -146 -46 -133 -106\
        -246 -211 -398 -30 -43 -53 -83 -51 -89 2 -6 52 -27 111 -48 216 -76 396 -187\
        475 -292 50 -66 62 -96 62 -159 0 -197 -314 -338 -566 -254 -86 29 -138 59\
        -190 111 -47 47 -125 167 -147 226 -24 63 -62 80 -107 48 -17 -12 -64 -73\
        -105 -135 -99 -150 -147 -186 -337 -253 -208 -74 -419 -81 -640 -23 -70 18\
        -142 31 -178 31 -91 0 -150 18 -168 50 -9 15 -40 42 -70 60 -33 20 -59 44 -69\
        64 -14 30 -14 35 6 74 43 84 134 182 299 320 102 86 153 144 138 160 -3 3 -74\
        9 -158 14 -257 14 -308 31 -348 114 -23 47 -46 243 -35 296 8 35 75 110 134\
        150 70 49 294 255 405 373 l98 106 -6 42 c-9 57 -37 101 -85 132 -110 69 -293\
        155 -384 181 -77 21 -111 37 -155 71 -70 55 -100 55 -248 7 -93 -30 -120 -35\
        -184 -32 -53 2 -85 9 -104 22 -28 18 -28 20 -24 85 7 91 48 207 115 325 44 77\
        58 110 61 152 4 46 1 56 -21 78 -21 21 -36 26 -84 28 -102 3 -146 -3 -238 -33\
        -112 -36 -193 -83 -271 -160 -109 -108 -157 -215 -240 -537 -53 -209 -84 -273\
        -174 -362 -113 -112 -292 -178 -455 -167 -147 11 -302 73 -385 156 -50 50\
        -121 182 -158 294 l-19 58 -26 -43 c-42 -72 -102 -106 -232 -133 -140 -29\
        -254 -13 -440 60 -133 51 -238 104 -456 226 -199 111 -302 184 -380 267 -146\
        156 -157 264 -37 353 84 62 212 105 383 129 109 15 278 57 340 84 87 39 154\
        127 140 184 -9 36 -93 114 -157 146 -46 23 -64 26 -157 26 -112 0 -150 -8\
        -421 -78 -85 -22 -207 -48 -270 -57 -157 -23 -400 -31 -498 -15 -253 40 -541\
        195 -694 373 -145 169 -276 410 -393 722 -107 286 -146 363 -354 700 -120 195\
        -160 277 -195 398 -96 331 -67 602 89 837 96 144 305 310 531 424 522 259 860\
        388 1139 431 92 15 155 17 390 12 326 -6 356 -11 683 -111 310 -95 343 -109\
        580 -248 192 -113 274 -151 521 -244 198 -75 390 -134 646 -198 242 -60 311\
        -69 525 -70 318 -1 343 10 900 361 101 64 438 245 605 324 104 50 598 223 720\
        253 143 34 236 41 386 26z m4584 -4284 c18 -13 18 -16 0 -107 -10 -52 -26\
        -122 -36 -156 l-18 -63 31 16 c44 23 126 14 149 -15 10 -12 20 -47 23 -79 13\
        -123 25 -174 51 -208 38 -49 110 -61 85 -14 -16 30 -12 98 10 139 35 69 94\
        100 166 86 71 -13 90 -104 40 -189 -15 -25 -31 -46 -36 -46 -18 0 -10 -29 11\
        -40 72 -39 316 211 415 425 30 66 38 75 67 80 46 9 87 -9 87 -37 -1 -13 -11\
        -84 -23 -158 l-23 -135 60 30 c110 55 245 35 254 -37 4 -37 -50 -95 -118 -127\
        l-56 -27 18 -29 c9 -16 24 -61 33 -99 9 -38 22 -81 30 -96 28 -53 134 -82 224\
        -60 52 12 101 8 101 -10 0 -5 -32 -19 -71 -31 -58 -18 -87 -21 -153 -16 -190\
        13 -285 77 -301 204 -8 65 -20 103 -34 103 -5 0 -15 -33 -21 -72 -15 -88 -32\
        -123 -62 -132 -67 -18 -118 6 -118 56 0 17 9 67 19 112 11 44 22 108 26 141\
        l7 60 -80 -78 c-124 -120 -247 -162 -352 -122 -31 12 -68 17 -118 16 -173 -5\
        -262 76 -262 241 0 110 -7 111 -86 24 -50 -55 -77 -78 -100 -82 -38 -7 -74 10\
        -74 35 0 10 20 76 45 145 25 70 45 129 45 132 0 2 -33 -28 -73 -68 -40 -40\
        -101 -89 -135 -108 -35 -19 -77 -43 -95 -53 -27 -16 -47 -18 -127 -13 -107 6\
        -142 13 -137 30 2 7 41 13 99 16 59 3 101 10 111 19 24 19 21 63 -9 162 l-26\
        85 -58 -57 c-106 -103 -256 -153 -310 -104 -26 23 -25 31 5 60 16 17 35 25 60\
        25 33 0 35 -2 29 -26 -6 -25 -6 -26 17 -14 53 28 130 95 170 148 58 77 76 92\
        113 92 57 0 58 -2 144 -275 l10 -30 84 85 c46 47 105 119 132 160 27 41 55 81\
        64 88 21 16 54 15 77 -2z m1846 -722 c24 -9 53 -16 64 -15 11 0 30 -1 43 -4\
        19 -5 21 -9 12 -25 -8 -15 -6 -22 11 -33 37 -26 69 -79 69 -114 0 -67 -56\
        -134 -129 -153 -56 -15 -102 -6 -141 26 -25 22 -30 33 -30 70 0 55 18 100 58\
        146 l31 35 -38 21 c-21 12 -47 22 -57 22 -27 0 -48 16 -40 29 10 16 97 13 147\
        -5z m-15440 -421 c7 -37 49 -111 76 -135 10 -10 35 -24 54 -32 32 -13 39 -13\
        65 0 16 8 43 31 59 50 23 27 37 35 55 32 24 -4 23 -5 -25 -55 -54 -55 -96 -71\
        -158 -59 -46 9 -108 51 -137 93 -22 32 -25 34 -35 18 -30 -52 -53 -69 -91 -68\
        -23 1 -47 -6 -62 -17 -59 -47 -135 -33 -184 36 -17 24 -35 44 -39 44 -13 0\
        -49 -109 -49 -148 0 -53 -9 -80 -28 -84 -34 -8 -50 3 -57 40 -4 20 -13 52 -21\
        71 l-15 35 -22 -22 c-19 -20 -22 -33 -22 -105 0 -79 -1 -82 -24 -85 -35 -5\
        -45 12 -51 86 l-5 67 -39 -69 c-29 -51 -41 -84 -45 -130 -6 -60 -7 -61 -38\
        -64 -31 -3 -32 -2 -49 58 -9 33 -20 63 -24 65 -14 8 -43 -68 -48 -122 -4 -50\
        -6 -53 -33 -53 -26 0 -29 5 -45 61 l-17 62 -19 -23 c-21 -26 -45 -101 -54\
        -171 -6 -45 -9 -49 -34 -49 -28 0 -28 1 -36 78 l-7 77 -22 -75 c-42 -148 -76\
        -190 -150 -190 -28 0 -51 7 -69 21 -15 12 -28 20 -30 18 -1 -2 -17 -24 -33\
        -49 -63 -92 -135 -141 -233 -160 -89 -17 -204 15 -268 73 l-23 21 -23 -29\
        c-17 -21 -31 -28 -56 -28 -45 0 -60 24 -60 95 0 53 2 59 25 68 19 7 36 6 60\
        -4 l34 -15 15 47 c8 26 20 67 26 92 6 25 13 53 16 62 5 16 2 16 -38 -2 -54\
        -25 -147 -26 -195 -3 -51 24 -96 103 -59 103 8 0 24 -16 36 -35 45 -73 123\
        -85 210 -32 l55 32 13 70 c40 220 61 275 106 275 39 0 49 -23 44 -99 -5 -71\
        -36 -153 -81 -213 -13 -18 -30 -62 -37 -98 -7 -36 -26 -104 -41 -153 l-27 -87\
        44 -39 c106 -93 201 -103 306 -33 31 20 35 27 26 41 -14 22 31 185 68 248 40\
        70 93 93 129 56 13 -13 15 -27 10 -74 -10 -88 32 -161 73 -127 21 18 66 120\
        87 198 10 36 24 75 32 88 16 27 57 29 73 5 9 -15 12 -16 17 -3 11 26 61 70 80\
        69 10 0 27 -4 38 -8 16 -7 27 0 53 30 36 42 72 51 107 25 18 -13 22 -10 48 38\
        41 72 56 86 91 86 20 0 36 7 43 20 27 43 87 57 143 35 11 -4 19 4 28 29 22 61\
        49 86 93 86 43 0 56 -10 107 -84 28 -40 35 -45 52 -36 28 15 67 70 75 105 12\
        48 33 75 61 75 34 0 40 -23 15 -65 -23 -39 -26 -55 -12 -55 5 0 22 32 37 70\
        25 64 30 71 53 68 19 -2 27 -10 32 -35z m-21 -450 c0 -19 -14 -76 -31 -127\
        -18 -50 -31 -107 -30 -126 5 -96 64 -241 121 -295 27 -26 31 -27 60 -15 41 17\
        62 0 29 -24 -47 -33 -114 -14 -164 46 -33 39 -83 140 -91 186 l-6 33 -29 -49\
        c-34 -60 -72 -92 -109 -92 -15 0 -34 -7 -41 -17 -8 -9 -32 -24 -54 -34 -76\
        -35 -134 -19 -167 45 l-21 41 -36 -75 c-31 -63 -41 -75 -64 -78 -21 -3 -27 1\
        -27 17 0 37 -16 30 -44 -22 -48 -87 -84 -126 -126 -138 -32 -10 -43 -9 -62 3\
        -23 15 -24 14 -52 -33 -30 -49 -72 -76 -102 -65 -9 3 -28 -3 -44 -14 -50 -35\
        -114 -60 -158 -60 -52 0 -77 12 -95 46 l-13 26 -43 -56 c-80 -107 -185 -170\
        -272 -164 -56 4 -58 25 -5 43 87 30 125 104 84 164 -13 19 -28 36 -33 38 -6 2\
        -35 -38 -65 -88 -97 -162 -169 -224 -233 -200 -14 6 -31 19 -37 31 -10 19 -14\
        18 -62 -35 -58 -64 -81 -79 -107 -70 -24 7 -16 45 9 45 26 0 95 82 132 157 24\
        49 36 63 53 63 20 0 22 -4 17 -49 -2 -27 1 -65 8 -85 11 -35 12 -35 35 -20 30\
        20 90 100 144 192 46 79 73 98 127 88 60 -12 101 -85 83 -148 l-9 -32 36 35\
        c19 19 55 66 80 105 35 56 44 80 44 115 0 53 24 159 45 199 19 36 49 53 77 44\
        18 -5 20 -12 15 -55 -3 -27 -22 -89 -42 -138 -36 -91 -38 -117 -13 -184 18\
        -47 39 -50 104 -17 82 42 111 70 118 116 9 51 44 112 78 137 24 18 34 19 75\
        11 l48 -9 -3 -40 c-1 -22 2 -47 8 -55 9 -13 17 -8 48 26 20 23 55 74 78 115\
        47 85 65 100 95 81 11 -7 22 -12 23 -10 49 80 57 88 90 88 32 0 37 -4 63 -57\
        20 -41 35 -59 50 -61 29 -4 113 72 113 103 0 65 58 133 101 120 16 -6 20 -13\
        17 -36 -3 -16 -3 -29 -1 -29 1 0 13 21 26 48 15 29 26 73 30 117 12 137 57\
        231 106 218 16 -4 21 -13 21 -40z m7020 -369 c0 -7 -12 -17 -26 -20 -29 -7\
        -82 12 -68 26 23 21 94 17 94 -6z m-8930 -229 c0 -16 -55 -22 -64 -6 -8 13 5\
        21 36 21 18 0 28 -5 28 -15z')
        path(d='M8230 22360 c0 -46 3 -61 10 -50 5 8 10 31 10 50 0 19 -5 42 -10 50\
        -7 11 -10 -4 -10 -50z')
        path(d='M7887 22372 c-23 -26 -37 -68 -37 -115 l1 -42 29 35 c29 36 49 91 42\
        123 -4 22 -15 22 -35 -1z')
        path(d='M11512 20982 c-35 -80 -60 -168 -49 -179 12 -11 56 38 72 81 10 27\
        15 65 13 106 l-3 65 -33 -73z')
        path(d='M10901 20957 c-61 -80 -89 -164 -61 -182 9 -6 81 79 105 124 20 39\
        23 111 5 111 -5 0 -27 -24 -49 -53z')
        path(d='M4421 18489 c-12 -34 -13 -184 -2 -233 l6 -29 34 29 c110 92 120 186\
        26 244 -43 27 -51 25 -64 -11z')
        path(d='M7187 17207 c-15 -24 -47 -126 -47 -152 0 -19 40 50 56 97 21 63 16\
        93 -9 55z')
        path(d='M6791 17163 c-6 -21 -11 -63 -10 -93 l1 -55 15 35 c20 44 29 135 15\
        144 -7 4 -15 -9 -21 -31z')
        path(d='M5728 17553 c-41 -43 -75 -128 -93 -231 -9 -51 -15 -98 -13 -104 6\
        -17 84 92 118 163 36 78 48 155 28 182 -13 17 -15 16 -40 -10z')
        path(d='M7085 15858 c-39 -44 -88 -138 -79 -148 10 -9 69 66 98 125 16 30 26\
        58 24 61 -3 3 -22 -14 -43 -38z')
        path(d='M6607 15078 c-56 -88 -67 -136 -43 -173 9 -14 23 -25 31 -25 43 0 84\
        139 67 230 l-8 45 -47 -77z')
        path(d='M6502 13920 c0 -14 2 -19 5 -12 2 6 2 18 0 25 -3 6 -5 1 -5 -13z')
        path(d='M6267 13450 c-36 -82 -44 -147 -25 -185 l15 -28 17 25 c24 37 38 134\
        29 198 l-8 55 -28 -65z')
        path(d='M14310 12771 c-6 -28 -10 -56 -8 -62 2 -7 10 14 17 45 7 32 11 60 8\
        62 -3 3 -10 -18 -17 -45z')
        path(d='M14291 12674 c0 -11 3 -14 6 -6 3 7 2 16 -1 19 -3 4 -6 -2 -5 -13z')
        path(d='M8981 12643 l0 -48 16 32 c16 31 13 63 -7 63 -5 0 -10 -21 -9 -47z')
        path(d='M14740 12435 c0 -30 4 -55 9 -55 14 0 51 50 51 70 0 14 -36 40 -55\
        40 -3 0 -5 -25 -5 -55z')
        path(d='M14535 12406 c-5 -22 -3 -42 3 -48 14 -14 26 46 14 69 -9 15 -11 11\
        -17 -21z')
        path(d='M13390 12163 c0 -24 5 -43 10 -43 13 0 13 50 0 70 -7 11 -10 4 -10\
        -27z')
        path(d='M14131 11787 c-13 -17 -43 -87 -36 -87 2 0 16 23 30 50 25 50 27 62\
        6 37z')
        path(d='M14593 11475 c-30 -21 -53 -77 -53 -127 l1 -43 24 40 c26 41 60 133\
        53 140 -2 3 -13 -2 -25 -10z')
        path(d='M8753 10903 c-17 -21 -36 -49 -43 -63 -12 -24 -11 -23 20 5 32 30 65\
        83 57 91 -3 3 -18 -12 -34 -33z')
        path(d='M3429 10783 c-14 -16 -33 -39 -42 -52 -16 -24 -16 -25 14 -38 17 -7\
        35 -10 40 -7 18 11 40 66 37 91 -4 37 -20 38 -49 6z')
        path(d='M13945 10623 c-41 -57 -64 -118 -72 -194 -5 -52 -4 -57 17 -64 58\
        -18 164 169 143 254 -15 65 -42 66 -88 4z')
        path(d='M4516 10808 c-33 -50 -91 -186 -83 -194 5 -6 48 59 77 115 27 54 52\
        123 46 129 -3 2 -20 -20 -40 -50z')
        path(d='M3695 10658 c-4 -20 -4 -51 0 -69 7 -31 8 -32 21 -14 18 24 17 63 0\
        95 l-14 25 -7 -37z')
        path(d='M4658 10431 c-12 -51 -10 -97 3 -84 5 5 9 34 7 64 -3 50 -4 52 -10\
        20z')
        path(d='M4906 10402 c-11 -40 -13 -60 -5 -80 l11 -27 19 24 c22 27 24 75 5\
        111 -14 24 -14 24 -30 -28z')
        path(d='M11735 8725 c-72 -15 -543 -171 -635 -210 -119 -50 -573 -296 -756\
        -410 -331 -207 -422 -252 -593 -296 -167 -43 -503 -43 -751 0 -129 23 -508\
        121 -681 177 -155 50 -474 175 -578 228 -47 23 -156 83 -241 133 -85 50 -182\
        103 -215 118 -54 24 -274 95 -294 95 -5 0 -11 -14 -15 -31 -9 -46 -40 -36 -46\
        16 l-5 40 -109 27 c-201 51 -522 64 -730 28 -123 -21 -348 -91 -525 -164 -170\
        -71 -594 -280 -684 -339 -168 -110 -282 -226 -351 -357 -111 -212 -124 -447\
        -42 -732 32 -109 71 -194 142 -309 252 -411 310 -524 419 -814 132 -351 298\
        -632 452 -761 105 -89 250 -169 389 -216 61 -20 87 -23 224 -22 184 0 325 22\
        570 89 214 58 288 68 467 63 174 -5 238 -24 346 -101 141 -101 164 -173 91\
        -279 -60 -86 -156 -135 -366 -187 -68 -17 -168 -37 -223 -45 -169 -25 -267\
        -67 -306 -129 -24 -41 -24 -70 1 -122 55 -113 184 -215 488 -385 250 -139 442\
        -222 546 -236 90 -13 177 35 197 109 16 58 0 109 -119 378 -111 251 -127 304\
        -119 394 6 67 37 158 65 190 52 61 151 105 238 105 97 0 212 -56 254 -125 23\
        -38 26 -136 10 -323 -22 -246 39 -584 144 -808 69 -145 136 -204 274 -239 51\
        -13 64 -13 117 0 124 33 216 107 275 224 17 35 49 130 70 212 49 186 92 315\
        133 399 41 85 195 241 282 287 78 40 214 88 309 107 130 27 322 16 412 -23 53\
        -24 76 -59 82 -125 5 -56 -8 -89 -89 -226 -41 -71 -83 -188 -94 -262 l-7 -47\
        106 35 c120 39 228 45 326 19 30 -8 67 -15 81 -15 15 0 67 -12 115 -26 49 -15\
        113 -28 142 -30 29 -2 57 -6 62 -9 15 -10 12 -35 -5 -35 -8 0 -15 -4 -15 -10\
        0 -5 7 -10 15 -10 8 0 71 -21 139 -46 180 -66 244 -129 265 -261 12 -75 2\
        -116 -40 -169 -17 -22 -41 -59 -54 -84 -13 -25 -41 -61 -62 -82 -34 -32 -173\
        -126 -251 -170 -34 -18 -142 -173 -177 -252 -26 -61 -37 -122 -29 -164 6 -30\
        8 -31 73 -37 249 -23 330 -42 414 -94 149 -95 105 -249 -103 -361 -85 -46\
        -165 -109 -213 -168 -28 -35 -57 -91 -57 -110 0 -17 97 -52 255 -93 l160 -41\
        145 7 c130 6 153 10 220 38 121 50 144 68 215 175 116 176 194 232 335 240 87\
        5 162 -9 230 -43 56 -29 75 -50 95 -105 35 -99 148 -236 221 -266 48 -20 73\
        -18 133 12 93 47 130 134 91 220 -54 123 -215 232 -471 320 -119 40 -169 75\
        -169 116 0 13 26 64 59 113 107 164 158 263 205 403 93 272 157 367 291 433\
        65 32 76 34 170 34 55 0 112 -3 126 -7 25 -7 26 -6 32 44 4 29 4 98 0 155 l-6\
        103 -29 -39 c-64 -87 -189 -104 -254 -34 l-23 25 -14 -29 c-25 -48 -53 -66\
        -102 -66 -28 0 -52 6 -63 16 -17 16 -19 14 -40 -28 -27 -55 -64 -80 -117 -79\
        -41 1 -42 0 -59 -47 -9 -27 -27 -61 -40 -76 -21 -24 -32 -28 -76 -28 -43 0\
        -54 4 -70 25 -11 14 -20 33 -20 43 0 33 -19 17 -30 -25 -27 -109 -23 -103 -62\
        -106 -33 -3 -37 -6 -43 -40 -20 -106 -96 -143 -178 -87 l-36 24 -11 -39 c-12\
        -43 -33 -70 -57 -70 -8 0 -33 -21 -56 -46 -83 -90 -203 -74 -252 36 l-18 41\
        -24 -58 c-45 -113 -95 -178 -167 -215 -56 -29 -169 -27 -151 3 4 5 15 9 26 9\
        10 0 29 10 40 21 18 18 20 29 15 66 -3 24 -12 55 -19 69 l-14 26 -18 -49 c-24\
        -65 -70 -136 -111 -173 -36 -31 -58 -37 -83 -21 -11 7 -6 19 28 57 49 56 105\
        165 126 248 19 75 47 95 87 64 22 -17 79 -152 86 -201 l5 -40 19 24 c57 72\
        120 253 119 338 -1 30 -2 56 -4 58 -2 2 -28 -10 -58 -27 -62 -34 -128 -40\
        -150 -14 -17 21 -5 30 122 94 l96 49 7 59 c8 74 23 95 61 90 28 -3 30 -6 31\
        -48 1 -25 2 -49 3 -53 0 -5 44 14 97 42 95 50 146 62 160 39 11 -18 -50 -63\
        -168 -124 -74 -38 -108 -60 -108 -72 1 -59 22 -208 36 -249 19 -56 59 -113 79\
        -113 8 0 32 17 55 39 38 36 40 40 30 67 -19 48 12 201 52 256 15 22 27 28 58\
        28 33 0 40 -4 54 -34 9 -19 16 -42 16 -53 1 -23 51 -115 67 -120 28 -9 69 115\
        79 240 7 77 7 77 36 77 16 0 31 -6 34 -15 5 -11 12 -7 31 15 20 25 32 30 68\
        30 48 0 59 -9 79 -66 l13 -39 25 79 c23 73 24 82 12 124 -25 80 -16 252 17\
        334 20 50 115 62 139 18 14 -27 12 -132 -6 -225 -24 -130 -27 -172 -16 -179\
        14 -9 28 18 71 139 35 96 38 100 68 103 50 5 73 -13 74 -56 1 -20 4 -48 9 -62\
        6 -23 10 -19 43 48 46 94 53 102 93 102 40 0 56 -21 73 -94 7 -27 18 -58 25\
        -68 13 -18 16 -17 49 23 20 23 54 77 77 120 43 83 61 99 107 99 49 0 63 -19\
        78 -105 31 -180 39 -347 20 -441 -4 -16 5 -24 45 -41 47 -20 49 -20 78 -3 69\
        42 133 164 140 267 7 109 -19 155 -161 284 -62 56 -157 138 -212 183 -55 44\
        -140 119 -190 166 -49 47 -135 118 -190 157 -55 39 -139 105 -186 145 -47 41\
        -109 91 -137 112 -89 65 -109 125 -78 231 45 146 222 194 431 116 28 -11 86\
        -31 130 -45 161 -51 251 -84 303 -110 75 -38 179 -145 234 -241 25 -44 66\
        -108 91 -141 l45 -62 119 -27 c150 -35 210 -62 268 -120 58 -57 88 -123 122\
        -262 26 -106 26 -118 33 -553 5 -396 8 -450 24 -495 35 -94 82 -146 203 -218\
        157 -95 208 -175 272 -428 38 -153 97 -311 146 -395 35 -59 73 -85 195 -135\
        89 -36 119 -43 196 -47 165 -8 290 27 378 108 78 72 214 388 232 541 11 97\
        -11 124 -177 205 -139 68 -226 129 -263 182 -35 52 -75 149 -76 185 0 62 73\
        153 157 195 61 31 99 40 278 72 264 45 375 86 416 153 34 57 24 99 -32 127\
        -48 25 -162 27 -334 5 -142 -18 -265 -19 -320 -4 -21 6 -54 26 -73 45 -32 32\
        -34 37 -28 83 3 26 24 101 46 167 45 131 51 190 26 229 -9 14 -67 64 -129 110\
        -149 112 -151 114 -181 159 -22 32 -26 50 -26 107 0 133 42 251 145 404 84\
        125 154 196 335 340 91 73 182 154 204 181 43 55 143 256 176 354 31 91 35\
        160 16 264 -39 205 -86 309 -293 656 -326 542 -520 793 -723 930 -91 61 -507\
        289 -625 343 -307 138 -431 211 -649 380 -168 131 -228 161 -372 188 -256 47\
        -318 61 -474 108 -91 27 -237 81 -325 119 -196 85 -469 179 -573 197 -96 18\
        -218 18 -297 0z m-733 -746 c28 -15 49 -66 46 -112 -3 -37 -6 -42 -28 -42 -21\
        0 -26 6 -33 45 -5 25 -18 54 -28 65 -20 20 -20 20 -35 0 -54 -73 -39 -251 31\
        -357 32 -48 81 -63 154 -47 28 6 59 9 68 6 32 -7 -57 -39 -124 -45 -129 -10\
        -216 44 -249 155 -34 114 -15 260 40 312 41 39 107 47 158 20z m1392 -13 c73\
        -31 101 -172 45 -233 l-24 -25 25 7 c14 4 47 19 73 34 42 23 51 33 67 81 23\
        68 58 100 109 100 70 0 78 -49 20 -122 -16 -20 -29 -43 -29 -51 0 -23 40 -67\
        61 -67 28 0 104 83 124 135 15 37 23 46 50 51 18 3 43 3 55 -1 19 -6 21 -11\
        14 -61 -3 -29 -3 -70 1 -90 l6 -37 30 44 c16 24 34 58 40 76 12 36 36 48 83\
        39 32 -6 33 -8 39 -65 7 -62 34 -134 50 -128 5 1 27 34 50 72 51 84 74 93 156\
        65 65 -23 97 -25 131 -5 47 27 136 13 124 -20 -3 -8 -21 -19 -39 -25 -25 -8\
        -39 -23 -55 -55 -12 -25 -20 -53 -17 -62 2 -11 9 1 17 30 15 57 40 73 95 63\
        44 -9 51 -25 31 -65 -18 -34 -22 -101 -6 -101 6 0 36 25 68 55 47 46 62 55 87\
        53 29 -3 30 -6 35 -58 3 -30 11 -65 18 -76 23 -42 42 -38 104 26 62 63 95 74\
        131 48 15 -12 16 -23 7 -103 -6 -49 -17 -128 -26 -174 -8 -46 -14 -85 -12 -87\
        2 -2 51 20 108 49 83 41 110 60 129 90 20 30 30 37 58 37 27 0 33 -4 33 -20 0\
        -63 -66 -116 -248 -201 l-110 -51 -32 -91 c-44 -122 -102 -236 -139 -271 -24\
        -23 -40 -29 -75 -29 -75 0 -119 46 -147 156 -10 41 -9 51 11 91 25 52 97 105\
        204 151 59 25 67 32 76 64 8 32 34 164 43 227 3 20 0 21 -67 16 -62 -3 -75 -1\
        -106 20 -19 13 -39 37 -44 53 -6 17 -11 32 -12 34 -2 1 -18 -8 -36 -22 -42\
        -32 -86 -41 -124 -26 -16 6 -55 11 -86 10 -50 -2 -61 2 -83 23 -31 31 -33 86\
        -5 141 26 50 25 51 -7 58 -16 3 -35 8 -43 11 -11 5 -20 -7 -33 -43 -41 -117\
        -134 -168 -232 -127 -19 8 -46 26 -59 41 -23 25 -24 25 -62 9 -54 -23 -122\
        -14 -151 20 l-22 26 -43 -20 c-75 -34 -176 -24 -225 22 l-22 21 -73 -23 c-80\
        -26 -172 -31 -230 -11 -55 18 -46 51 13 51 26 0 59 56 59 102 0 20 -3 39 -7\
        41 -5 3 -39 -41 -77 -98 -70 -105 -94 -125 -146 -125 -42 0 -74 15 -118 55\
        l-40 35 -20 -34 c-27 -46 -84 -65 -142 -47 -33 10 -46 21 -68 61 -15 27 -30\
        50 -33 50 -4 0 -14 -20 -23 -44 -24 -63 -52 -94 -90 -101 -43 -9 -103 17 -118\
        49 l-11 26 -33 -39 c-36 -42 -70 -56 -115 -46 -35 8 -50 33 -51 84 -1 99 69\
        212 133 216 19 1 45 8 57 14 13 7 35 11 50 9 25 -3 27 -7 34 -68 4 -36 14 -93\
        24 -128 16 -61 17 -62 36 -46 24 23 73 125 88 187 10 36 18 49 35 53 39 10 62\
        -10 69 -62 7 -55 55 -166 68 -158 13 8 64 112 78 161 14 45 36 58 76 43 17 -7\
        24 -17 24 -37 0 -50 21 -104 53 -139 l32 -34 90 135 c49 74 96 136 105 139 30\
        8 51 6 84 -8z m-5162 -108 c54 -31 81 -88 67 -148 -13 -56 -26 -72 -57 -68\
        -24 3 -25 6 -26 71 -1 64 -3 70 -34 98 -40 35 -56 36 -98 4 -51 -39 -98 -144\
        -102 -228 -13 -226 116 -329 308 -246 49 21 50 23 50 63 0 143 154 300 267\
        271 40 -10 53 -24 53 -57 0 -45 -35 -102 -110 -182 -39 -40 -70 -78 -70 -83 0\
        -6 12 -22 26 -37 33 -32 80 -34 139 -6 56 27 94 69 159 175 85 138 82 135 125\
        135 49 0 65 -19 57 -65 l-7 -36 50 36 c57 41 108 53 151 35 33 -14 36 -21 45\
        -119 4 -35 13 -82 22 -103 l16 -39 44 43 c49 48 79 104 86 164 l5 41 -80 6\
        c-94 8 -117 20 -92 48 18 20 74 26 74 9 0 -11 90 -13 106 -2 5 4 18 30 29 57\
        25 69 82 125 127 125 19 0 42 -6 53 -13 17 -13 17 -17 -8 -92 l-27 -78 128 6\
        c70 4 143 9 162 12 42 7 74 -9 50 -25 -26 -17 -105 -29 -230 -36 l-122 -7 -20\
        -31 c-17 -27 -19 -44 -15 -126 4 -97 28 -180 51 -180 25 0 147 184 168 253 12\
        40 33 51 84 45 29 -3 29 -4 27 -62 l-2 -59 32 31 c50 48 100 58 220 44 56 -7\
        146 -12 199 -12 134 0 130 3 122 -90 -6 -68 -4 -84 16 -124 12 -25 25 -46 29\
        -46 17 0 199 181 208 207 5 15 20 60 32 98 27 83 90 195 127 224 44 35 124 26\
        124 -13 0 -27 -64 -162 -119 -248 -45 -71 -50 -107 -31 -206 21 -114 99 -219\
        180 -243 42 -13 43 -13 76 24 25 27 42 37 64 37 35 0 35 -1 15 -44 -21 -43\
        -48 -58 -119 -63 -121 -10 -245 67 -305 189 -17 34 -31 69 -31 78 0 33 -13 28\
        -81 -30 -38 -33 -81 -63 -95 -66 -46 -12 -123 2 -149 26 l-24 23 -36 -32 c-53\
        -46 -135 -39 -135 12 1 33 46 154 74 197 l24 37 -121 11 c-102 9 -126 8 -144\
        -4 -12 -8 -46 -62 -75 -121 -58 -117 -75 -131 -144 -118 -27 5 -39 14 -48 36\
        l-12 29 -30 -31 c-38 -41 -82 -59 -142 -59 -65 0 -109 30 -143 96 l-26 51 -26\
        -23 c-75 -64 -186 -49 -233 32 -17 28 -28 66 -31 104 -3 33 -9 60 -13 60 -11\
        0 -140 -137 -140 -148 0 -38 -76 -55 -117 -27 -18 13 -22 12 -39 -6 -51 -56\
        -194 -96 -282 -79 -60 11 -81 19 -116 43 -27 19 -31 19 -80 4 -113 -34 -233\
        -29 -316 13 -42 21 -96 79 -112 119 -35 90 -26 209 22 308 69 140 207 196 322\
        131z m-1967 -1232 c39 -16 51 -46 42 -102 -8 -47 -23 -64 -59 -64 -28 0 -30 2\
        -24 26 16 64 17 80 2 99 -16 20 -16 19 -50 -17 -35 -37 -66 -117 -66 -171 0\
        -71 72 -146 126 -133 34 9 111 82 135 128 18 35 22 38 64 38 51 0 58 -16 29\
        -59 -24 -33 -25 -135 -2 -157 16 -16 20 -16 45 -3 15 8 48 34 72 58 51 50 101\
        74 136 65 31 -8 31 -7 0 -88 -14 -37 -34 -99 -45 -138 l-20 -71 29 27 c17 16\
        32 44 36 64 15 84 67 223 104 280 32 49 47 63 79 73 57 17 96 2 100 -38 4 -44\
        -51 -181 -108 -266 -45 -68 -79 -165 -68 -197 2 -6 25 15 51 48 51 65 83 81\
        131 63 14 -6 29 -17 32 -26 6 -15 64 -55 81 -55 5 0 33 20 62 45 72 61 113 78\
        183 73 60 -4 98 -27 98 -58 0 -15 7 -17 44 -13 77 9 236 -59 236 -100 0 -7\
        -15 -33 -34 -60 -68 -96 -91 -185 -52 -200 24 -9 110 40 179 103 l65 60 113 2\
        c90 2 121 -1 145 -15 40 -21 59 -63 44 -101 -5 -15 -10 -29 -10 -32 0 -2 34\
        -4 76 -4 67 0 78 3 94 23 28 35 113 31 215 -10 44 -18 112 -42 150 -53 80 -22\
        115 -49 115 -86 0 -14 -18 -55 -40 -91 -41 -69 -48 -104 -28 -147 l11 -26 59\
        32 c32 17 99 69 148 115 81 76 90 89 110 151 50 156 142 284 214 297 66 13\
        116 -10 116 -52 0 -41 -69 -153 -159 -257 -47 -54 -62 -113 -62 -239 0 -89 25\
        -177 51 -177 15 0 41 66 45 115 2 35 6 40 29 43 73 9 55 -173 -20 -204 -43\
        -18 -76 -18 -122 1 -73 31 -107 79 -125 181 l-12 63 -65 -45 c-65 -45 -167\
        -84 -221 -84 -46 0 -104 28 -130 63 -37 50 -32 99 19 184 24 40 42 78 40 85\
        -4 12 -189 80 -197 72 -2 -2 2 -17 9 -35 18 -42 15 -112 -5 -142 -9 -15 -37\
        -36 -61 -48 -84 -40 -196 -9 -202 57 -2 27 26 85 74 152 l16 22 -84 0 -84 0\
        -47 -44 c-60 -55 -103 -76 -159 -76 l-44 0 -28 -87 c-43 -131 -84 -213 -113\
        -224 -35 -13 -76 -11 -98 5 -18 13 -18 16 9 117 34 127 62 212 88 263 19 37\
        19 39 1 31 -113 -46 -246 -22 -280 51 -15 30 -15 37 1 78 10 26 38 73 62 106\
        24 33 44 64 44 68 0 11 -49 34 -59 27 -5 -2 -30 -44 -57 -92 -81 -146 -155\
        -202 -246 -190 -22 3 -51 15 -64 28 -33 31 -59 104 -59 171 l0 56 -35 6 c-19\
        3 -52 14 -73 25 l-39 20 -52 -56 c-49 -53 -55 -56 -109 -61 -60 -5 -107 14\
        -107 43 0 23 -16 26 -47 9 -22 -13 -35 -35 -56 -94 -33 -92 -76 -161 -125\
        -198 -28 -21 -48 -27 -102 -30 -71 -4 -109 8 -144 47 -49 54 25 145 179 219\
        l90 44 37 121 c20 67 35 123 33 125 -2 2 -21 -2 -43 -9 -23 -7 -56 -9 -78 -5\
        -35 7 -86 46 -95 74 -3 10 -13 9 -44 -4 -61 -25 -154 -16 -206 21 -68 48 -84\
        77 -83 148 0 99 54 186 134 221 44 19 72 20 115 2z m6571 -190 c19 -14 18 -17\
        -14 -114 -26 -76 -35 -122 -39 -198 -5 -91 8 -268 20 -280 21 -21 118 98 177\
        215 45 91 68 111 128 111 26 0 55 -6 64 -12 9 -7 30 -57 48 -111 l32 -97 26\
        19 c56 40 100 96 107 136 10 57 40 109 70 123 37 17 86 15 114 -4 19 -14 22\
        -23 18 -51 -4 -19 -18 -50 -32 -68 -38 -50 -29 -151 16 -175 26 -14 100 4 170\
        41 59 32 145 109 154 140 6 19 45 32 69 23 24 -9 19 -37 -16 -90 -41 -60 -132\
        -123 -221 -152 -123 -40 -283 -24 -314 33 -7 12 -17 9 -57 -20 -27 -19 -56\
        -37 -65 -40 -9 -3 -22 -19 -28 -35 -16 -43 -64 -60 -166 -60 -139 0 -155 36\
        -37 79 33 12 60 25 60 27 0 3 -7 30 -16 60 l-15 54 -43 -57 c-105 -144 -227\
        -202 -331 -159 -19 8 -40 26 -47 40 -6 15 -14 26 -17 26 -3 -1 -26 -42 -50\
        -91 -51 -106 -79 -129 -156 -129 -55 0 -106 25 -125 60 -11 20 -15 17 -77 -50\
        -36 -39 -75 -76 -86 -82 -67 -35 -158 -25 -178 21 l-12 28 -66 -48 c-36 -27\
        -86 -65 -111 -85 -44 -37 -156 -94 -183 -94 -11 0 -17 -35 -26 -147 -21 -249\
        -29 -273 -99 -273 -67 0 -72 9 -72 124 0 90 18 241 37 301 4 14 -7 8 -40 -22\
        -57 -52 -131 -91 -205 -105 -33 -6 -70 -22 -87 -36 -68 -56 -184 -84 -263 -63\
        -55 15 -109 63 -122 109 -17 62 -11 107 25 208 19 54 33 100 30 102 -2 2 -32\
        -3 -67 -12 -36 -9 -73 -16 -85 -16 -18 0 -21 -8 -26 -92 -10 -158 -59 -297\
        -120 -340 -72 -51 -227 -27 -243 39 -10 40 7 77 37 81 22 3 27 -2 37 -36 14\
        -47 49 -70 80 -53 28 15 70 87 94 164 14 44 20 91 21 160 0 58 4 101 11 106 6\
        5 41 14 79 20 37 6 95 20 130 31 68 22 138 26 168 10 26 -15 24 -55 -7 -137\
        -45 -120 -43 -234 6 -278 17 -15 21 -15 52 -1 18 9 46 26 62 39 28 23 28 24\
        12 55 -26 50 -20 112 17 184 26 51 41 67 77 86 52 27 109 25 142 -5 29 -26 21\
        -100 -23 -190 l-34 -71 29 16 c62 36 141 120 209 224 38 59 75 108 82 108 6 0\
        31 21 55 46 68 69 109 87 193 82 61 -3 72 -7 93 -31 17 -20 24 -40 24 -69 l0\
        -42 73 77 c64 68 76 77 108 77 19 0 44 -6 54 -14 18 -13 18 -15 0 -75 -10 -34\
        -16 -63 -13 -66 3 -3 38 40 79 96 41 56 83 113 94 126 27 32 86 41 120 19 22\
        -14 25 -24 26 -74 1 -104 11 -104 58 -1 78 167 148 354 156 414 11 94 42 181\
        72 204 30 25 90 28 119 7z m1128 -902 c13 -5 11 -14 -13 -63 -16 -31 -47 -79\
        -69 -107 -37 -47 -239 -248 -348 -347 -44 -40 -54 -56 -69 -113 -25 -94 -69\
        -176 -115 -218 -35 -31 -47 -36 -89 -36 -60 0 -81 18 -81 66 0 57 26 102 104\
        183 l75 76 15 90 c23 132 24 128 -30 98 -38 -21 -55 -25 -104 -21 -36 3 -66\
        11 -77 21 -17 15 -20 14 -46 -28 -57 -89 -122 -125 -204 -112 -19 4 -44 14\
        -54 23 -11 9 -19 13 -19 7 0 -17 -80 -103 -111 -118 -15 -8 -49 -15 -74 -15\
        -58 0 -100 36 -92 78 l5 27 -72 0 -72 0 -65 -95 c-76 -112 -113 -140 -178\
        -140 -89 0 -121 49 -121 185 l0 85 -42 0 c-59 0 -88 9 -88 27 0 12 8 14 36 10\
        21 -4 50 -1 68 7 28 11 33 20 44 72 23 110 87 216 153 250 59 30 139 8 139\
        -39 0 -40 -56 -142 -112 -202 -63 -69 -73 -105 -61 -227 l6 -70 19 23 c11 13\
        44 61 74 106 74 112 106 126 175 79 33 -23 36 -23 56 -8 12 10 35 40 52 68 21\
        34 42 56 64 64 17 7 48 28 67 46 43 41 78 54 139 54 44 0 80 -18 66 -32 -3 -3\
        4 -13 15 -23 16 -14 20 -31 20 -79 0 -34 4 -67 9 -75 13 -20 62 50 123 176 54\
        110 74 125 130 104 23 -9 26 -16 32 -83 4 -41 11 -80 15 -87 12 -19 60 36 112\
        128 23 42 47 79 53 83 18 13 84 9 98 -6 14 -13 12 -72 -7 -251 l-8 -69 60 52\
        c116 100 240 228 288 297 62 88 70 94 109 79z')
        path(d='M11391 7803 c-15 -38 -31 -93 -26 -93 6 0 41 69 49 98 10 32 -9 27\
        -23 -5z')
        path(d='M13908 7040 c-26 -17 -54 -43 -64 -57 -19 -31 -21 -93 -4 -138 l12\
        -30 25 50 c26 49 86 205 80 205 -2 0 -24 -14 -49 -30z')
        path(d='M7510 7540 c-6 -11 -8 -20 -6 -20 3 0 10 9 16 20 6 11 8 20 6 20 -3\
        0 -10 -9 -16 -20z')
        path(d='M6331 6067 c-7 -9 -10 -25 -6 -34 6 -17 7 -17 16 0 6 10 9 25 7 34\
        -3 15 -4 15 -17 0z')
        path(d='M6254 5944 c-7 -27 2 -104 18 -143 l10 -26 29 35 c28 33 89 131 89\
        143 0 3 -18 3 -39 0 -22 -3 -53 -1 -70 5 -28 10 -31 9 -37 -14z')
        path(d='M5398 5810 c-55 -34 -78 -65 -78 -103 0 -31 24 -46 49 -30 14 9 91\
        139 91 156 0 12 -14 8 -62 -23z')
        path(d='M7018 5784 c-25 -18 -42 -41 -52 -72 -9 -25 -14 -47 -12 -50 3 -2 20\
        1 40 8 42 13 85 88 70 121 -9 19 -10 18 -46 -7z')
        path(d='M7388 5546 c-20 -41 -22 -56 -9 -56 12 0 33 55 29 76 -2 12 -8 6 -20\
        -20z')
        path(d='M10698 5672 c-45 -48 -74 -98 -82 -144 l-7 -36 37 11 c29 9 41 20 55\
        53 20 43 44 143 37 150 -2 2 -20 -13 -40 -34z')
        path(d='M11750 5140 c-11 -22 -18 -40 -15 -40 2 0 14 18 25 40 11 22 18 40\
        15 40 -2 0 -14 -18 -25 -40z')
        path(d='M7945 4646 c-40 -43 -60 -111 -60 -206 1 -63 6 -89 36 -160 46 -109\
        152 -340 156 -337 1 2 -3 34 -8 72 -13 87 -13 260 -1 430 11 145 5 176 -43\
        213 -36 29 -42 28 -80 -12z')
        path(d='M13027 3170 c-25 -22 -55 -56 -67 -75 l-22 -35 22 -30 c44 -62 84\
        -65 143 -10 38 34 105 136 95 144 -9 8 -102 46 -113 46 -7 0 -33 -18 -58 -40z')
        path(d='M10828 2413 c6 -2 18 -2 25 0 6 3 1 5 -13 5 -14 0 -19 -2 -12 -5z')
        path(d='M17700 4011 c-19 -11 -55 -38 -80 -60 l-45 -42 40 16 c54 22 112 60\
        125 85 13 24 5 25 -40 1z')
        path(d='M18462 3641 c-22 -72 -9 -113 22 -69 16 23 21 64 10 92 -10 26 -20\
        19 -32 -23z')
        path(d='M1116 3173 c-7 -24 -36 -163 -35 -171 1 -21 39 94 45 137 6 50 1 69\
        -10 34z')
        path(d='M1479 2799 c-15 -30 -60 -162 -55 -166 4 -5 46 91 62 145 14 46 11\
        54 -7 21z')
        path(d='M865 2600 c-4 -12 -4 -38 0 -58 6 -35 7 -36 22 -17 32 44 33 51 9 74\
        l-24 23 -7 -22z')
        path(d='M14931 27088 c-12 -128 -26 -343 -31 -476 -11 -267 -55 -627 -92\
        -737 -21 -63 -117 -253 -175 -345 -20 -30 -78 -113 -131 -185 -324 -440 -400\
        -534 -467 -575 -57 -35 -269 -99 -371 -112 -167 -20 -414 20 -792 128 -124 36\
        -256 70 -293 76 -62 11 -68 10 -104 -12 -40 -25 -113 -117 -150 -190 -73 -144\
        -124 -427 -95 -530 l10 -35 115 3 c144 4 209 -12 253 -63 32 -36 35 -45 52\
        -190 23 -189 101 -405 162 -449 27 -19 29 -19 85 -2 111 35 240 109 553 315\
        265 175 401 227 579 219 151 -6 228 -52 267 -161 25 -67 30 -230 10 -307 -50\
        -194 -178 -339 -356 -402 -63 -22 -76 -23 -400 -23 -414 -1 -408 0 -875 -163\
        -288 -101 -353 -115 -489 -110 -146 6 -210 30 -286 107 -82 84 -95 127 -95\
        326 0 133 5 187 29 317 33 185 31 231 -16 283 -42 48 -90 61 -170 45 -100 -19\
        -160 -54 -246 -144 -42 -45 -118 -142 -169 -216 -137 -201 -286 -360 -397\
        -424 -73 -43 -139 -56 -280 -56 -157 0 -328 19 -531 60 -150 30 -538 69 -568\
        57 -30 -11 -39 -78 -22 -162 20 -95 79 -267 110 -321 54 -92 192 -205 380\
        -310 234 -130 284 -155 437 -218 212 -87 323 -112 603 -135 179 -15 401 -61\
        478 -100 146 -72 422 -334 619 -588 44 -57 114 -140 155 -185 85 -93 141 -174\
        201 -293 80 -161 77 -137 78 -550 l0 -370 41 -176 c52 -224 89 -299 146 -299\
        12 0 55 16 96 35 141 68 216 170 289 395 32 98 120 443 167 655 61 273 157\
        427 346 555 155 106 277 140 529 147 147 4 189 9 203 21 21 19 42 90 57 197\
        32 227 95 366 194 434 132 90 314 101 428 26 52 -35 68 -72 79 -184 15 -152\
        28 -254 34 -259 9 -10 107 43 239 128 137 88 185 111 279 136 115 30 281 5\
        391 -60 57 -33 182 -134 236 -190 24 -25 49 -46 55 -46 7 0 58 30 115 66 119\
        77 227 133 320 165 53 19 87 23 180 24 109 0 118 -2 183 -32 120 -57 205 -172\
        242 -324 23 -98 28 -254 15 -459 -6 -102 -15 -243 -20 -315 -14 -231 15 -535\
        75 -771 24 -97 60 -178 74 -170 33 21 74 177 101 380 51 385 127 497 475 706\
        152 91 248 164 271 205 17 32 17 34 -6 87 -71 164 -72 170 -86 317 -8 80 -21\
        173 -29 206 -26 100 -116 270 -207 390 -90 118 -111 169 -124 291 -8 75 15\
        197 67 356 62 192 160 321 308 406 41 24 102 65 135 92 62 48 69 59 174 248\
        56 101 143 198 208 234 78 42 179 68 305 78 124 10 182 4 260 -26 49 -19 190\
        -107 209 -129 7 -8 22 -15 34 -15 32 0 108 51 164 110 112 117 153 228 247\
        655 93 426 144 594 222 734 47 84 143 181 205 207 l48 19 0 1093 0 1092 -2763\
        0 -2763 0 -23 -232z')
        path(d='M18284 18085 c-151 -76 -230 -161 -320 -345 -100 -204 -200 -552\
        -248 -860 -73 -470 -99 -770 -94 -1062 6 -264 15 -307 125 -593 101 -261 176\
        -537 189 -700 10 -127 -26 -271 -93 -367 -67 -99 -270 -164 -429 -139 -213 33\
        -283 153 -271 463 3 81 4 148 2 148 -2 0 -48 -23 -102 -50 -125 -64 -230 -88\
        -316 -72 -164 31 -160 57 96 598 96 202 127 298 127 394 0 95 -7 113 -39 105\
        -59 -14 -179 -93 -251 -165 -77 -76 -310 -378 -407 -527 -116 -178 -168 -355\
        -132 -450 25 -67 101 -113 227 -137 295 -56 534 -155 632 -263 113 -124 128\
        -190 75 -343 -63 -180 -29 -337 177 -838 60 -147 125 -307 143 -357 18 -49 58\
        -154 89 -233 68 -172 111 -353 132 -545 16 -159 46 -281 76 -314 11 -11 52\
        -37 91 -57 101 -50 201 -65 532 -76 298 -10 390 -23 480 -64 72 -33 166 -98\
        200 -138 38 -44 160 -300 175 -367 18 -78 7 -179 -35 -308 -44 -138 -57 -236\
        -45 -326 10 -67 46 -175 74 -221 53 -86 45 -80 68 -59 33 29 71 89 158 248 98\
        178 153 258 217 315 122 107 295 147 441 102 117 -37 237 -141 302 -263 46\
        -86 110 -262 130 -359 18 -83 19 -48 19 1762 l1 1847 -37 -17 c-53 -23 -252\
        -22 -348 1 -194 47 -286 141 -347 354 -20 69 -23 101 -23 273 0 188 1 198 29\
        284 22 65 49 118 104 200 170 253 167 287 -52 600 -108 154 -156 279 -159 409\
        -2 56 0 61 35 92 43 40 91 55 176 55 61 0 64 1 107 44 24 24 53 62 64 84 61\
        120 83 312 62 548 -6 71 -16 237 -21 369 -14 364 -30 416 -154 532 -81 75\
        -154 122 -248 160 -54 22 -71 25 -132 19 -103 -10 -215 -41 -330 -93 -165 -74\
        -197 -85 -271 -90 -144 -11 -239 43 -308 175 -40 76 -64 163 -102 372 -30 168\
        -59 240 -107 270 -18 11 -36 20 -39 20 -4 0 -47 -20 -95 -45z')
        path(d='M14900 10123 c0 -18 5 -33 10 -33 13 0 13 30 0 50 -7 11 -10 7 -10\
        -17z')
        path(d='M14913 10005 c0 -22 2 -30 4 -17 2 12 2 30 0 40 -3 9 -5 -1 -4 -23z')
        path(d='M15230 9970 c0 -67 55 -144 88 -124 64 41 14 154 -68 154 -16 0 -20\
        -6 -20 -30z')
