.about {
  background: $color-cadet-blue;
  color: $color-bright-gray;
}
.about__wrapper {
}

.about__title {
  @include font($font-size: 10rem);
  @include centerText($position: center);
  max-width: 107.4rem;
}
