%title-53 {
  font-family: $fontOne;
  font-size: 5.3rem;
}
%title-60 {
  font-family: $fontOne;
  font-size: 6rem;
}
%title-100 {
  font-family: $fontOne;
  font-size: 10rem;
}
%title-120 {
  font-family: $fontOne;
  font-size: 12rem;
}
%title-200 {
  font-family: $fontOne;
  font-size: 20rem;
}
