@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

$color-black: #000;
$color-white: #fff;

$fontOne: "EB Garamond", serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  "noscript",
  "preloader",
  "navigation",
  "content",
  "canvas"
);
